<template>
  <v-layout align-center justify-center>
    <v-card class="layout-grid">
      <v-card-title>
        <v-container fill-width fluid>
          <v-row justify-center>
            <v-img
              :src="require('../assets/logo.svg')"
              class="my-3"
              contain
              height="128"
              width="128"
            ></v-img>
          </v-row>
          <v-row align="center" justify="center">
            <h2>Seleccionar Empresa</h2>
          </v-row>
        </v-container>
      </v-card-title>
      <v-form ref="form" :lazy-validation="lazy">
        <v-card-text>
          <v-radio-group v-model="empresa">
            <v-radio
              v-for="emp in empresas"
              :key="emp.idEmpresa"
              :label="emp.nombreComercial"
              :value="emp"
              return-object
            ></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions class="px-3 pb-3">
          <v-container fill-width fluid>
            <v-row align="center" justify="center">
              <v-btn dark  @click="salir">
                Cerrar Sesión
              </v-btn>
              <v-btn dark color="info" class="ml-4" @click="continuar">
                Continuar
              </v-btn>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-layout>
</template>

<style>
.layout-grid {
  width: 364px;
  max-width: 364px;
}
</style>

<script>
import axios from "axios";

export default {
  data() {
    return {
      lazy: null,
      locationCambiarEmpresa: true,
      empresas: [],
      empresa: {},
    };
  },
  created() {
    this.empresa = this.$store.state.empresa;
    this.cargarEmpresas();
  },
  methods: {
    cargarEmpresas() {
      let me = this;

      axios
        .get("api/Empresas/Select/0")
        .then(function(response) {
          me.empresas = response.data;
          me.empresa = me.empresas.find(
            (_) => _.idEmpresa == me.empresa.idEmpresa
          );
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    continuar() {
      this.$store.state.empresa = this.empresa;
      this.$router.push({ name: "home" });
    },
    salir() {
      this.$store.dispatch("salir");
    },
  },
};
</script>
