<template>
  <v-layout aling-start>
    <v-flex>
      <v-card class="mx-auto">
        <v-card-title class="primary lighten-2 white--text headline">
          <v-row>
            <v-col cols="8">
              <v-row align="center" justify="center">
                <v-col>Categorias</v-col>
              </v-row>
            </v-col>
            <v-col cols="4">
              <v-text-field
                v-model="search"
                label="Buscar..."
                dark
                flat
                solo-inverted
                hide-details
                clearable
                clear-icon="mdi-close-circle-outline"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-title>

        <v-dialog v-model="dialog" max-width="700px">
          <v-card color="basil">
            <v-card-title class="text-center justify-center py-6">
              <h1 class="font-weight-bold display-3 basil--text">
                {{ formTitle }}
              </h1>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12">
                    <v-select
                      v-if="!isfile"
                      v-model="padre"
                      :items="categoriasSelect"
                      label="Padre"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      v-if="!isfile"
                      v-model="nombre"
                      label="Nombre"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      v-model="precio"
                      label="Precio"
                      type="number"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" sm="12" md="12" v-show="valida">
                    <div>
                      <v-alert
                        type="error"
                        border="left"
                        color="red lighten-2"
                        dark
                        v-for="v in validaMensaje"
                        :key="v"
                      >
                        <blockquote v-text="v"></blockquote>
                      </v-alert>
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-card-text>
          <v-row class="pa-2" justify="space-between">
            <v-col cols="5">
              <v-treeview
                :items="categorias"
                :search="search"
                :filter="filter"
                :open.sync="open"
                item-text="nombre"
                return-object
                :active.sync="active"
                activatable
                color="teal"
              >
                <template v-slot:prepend="{ item, open }">
                  <v-icon v-if="!item.isfile">
                    {{ open ? "mdi-folder-open" : "mdi-folder" }}
                  </v-icon>
                  <v-icon v-else>
                    mdi-file-image
                  </v-icon>
                </template>
                <template v-slot:label="{ item }">
                  {{ item.nombre }}
                  <span>${{ item.precio }}</span>
                  <v-tooltip top v-if="!item.isfile">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        small
                        class="mr-2"
                        @click="refreshDirectory(item)"
                        v-on="on"
                        >mdi-refresh</v-icon
                      >
                    </template>
                    <span>Actualizar directorio</span>
                  </v-tooltip>
                  <v-tooltip top v-if="!item.isfile && item.nivel != 3">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        small
                        class="mr-2"
                        @click="addSubItem(item)"
                        v-on="on"
                        >mdi-plus</v-icon
                      >
                    </template>
                    <span v-if="!item.nivel">Agregar Proveedor</span>
                    <span v-if="item.nivel == 1">Agregar Categoria</span>
                    <span v-if="item.nivel == 2">Agregar SubCategoria</span>
                  </v-tooltip>
                  <v-tooltip top v-if="!item.file && item.nivel != 0">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                        v-on="on"
                        >mdi-pencil</v-icon
                      >
                    </template>
                    <span v-if="item.nivel == 1">Editar Proveedor</span>
                    <span v-if="item.nivel == 2">Editar Categoria</span>
                    <span v-if="item.nivel == 3">Editar SubCategoria</span>
                  </v-tooltip>
                </template>
              </v-treeview>
            </v-col>
            <v-divider vertical></v-divider>
            <v-col cols="5" class="ma-0">
              <v-row class="fill-height ma-0" align="center" justify="center">
                <div
                  v-if="!selected"
                  class="title grey--text text--lighten-1 font-weight-light"
                  style="align-self: center;"
                >
                  Vista Previa
                </div>
                <v-card v-else flat :key="selected.id" max-width="450">
                  <v-card-text>
                    <v-carousel height="300">
                      <v-carousel-item
                        v-for="item in items_carousel"
                        :key="item.id"
                        :src="item.urlgoogledrive"
                        reverse-transition="fade-transition"
                        transition="fade-transition"
                      >
                        <v-fade-transition>
                          <v-overlay v-if="hover" absolute color="#036358">
                            <v-row
                              class="fill-height ma-0"
                              align="center"
                              justify="center"
                            >
                              <v-img
                                src="https://www.compuandsoft.com/img/logo.png"
                              ></v-img>
                            </v-row>
                          </v-overlay>
                        </v-fade-transition>
                      </v-carousel-item>
                    </v-carousel>
                  </v-card-text>
                </v-card>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-flex>

    <!--Start Snackbar><-->
    <div class="text-center">
      <v-snackbar
        v-model="snackbar"
        :vertical="vertical"
        :color="color_snackbar"
      >
        {{ text_snackbar }}
        <v-btn dark text @click="snackbar = false">
          Close
        </v-btn>
      </v-snackbar>
    </div>
    <!--End Snackbar><-->
  </v-layout>
</template>

<style scoped>
/* Helper classes */
.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #356859 !important;
}
</style>

<script>
import axios from "axios";

export default {
  data() {
    return {
      categorias: [],
      items_secondary: [],
      items_carousel: [],
      categoriasSelect: [],
      dialog: false,
      search: "",
      editedIndex: -1,
      id: "",
      nombre: "",
      padre: "",
      precio: 0,
      nivel: "",
      isfile: false,
      valida: 0,
      validaMensaje: [],

      search: null,
      caseSensitive: true,

      active: [],
      open: [0],
      hover: true,

      //snackbar
      snackbar: false,
      text_snackbar: "",
      timeout: 6000,
      color_snackbar: "success",
      vertical: false,
    };
  },

  computed: {
    formTitle() {
      var accion = "";
      if (this.editedIndex == -1) {
        if (this.nivel == 0) {
          accion = "Nuevo proveedor";
        }
        if (this.nivel == 1) {
          accion = "Nueva categoria";
        }
        if (this.nivel == 2) {
          accion = "Nuevo subcategoria";
        }
      } else {
        if (this.nivel == 1) {
          accion = "Actualizar proveedor";
        }
        if (this.nivel == 2) {
          accion = "Actualizar categoria";
        }
        if (this.nivel == 3) {
          accion = "Actualizar subcategoria";
        }
        if (this.isfile) {
          accion = "Actualizar precio foto";
        }
      }
      return accion;
    },

    filter() {
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined;
    },

    selected() {
      let me = this;
      me.items_carousel = [];
      if (!me.active.length) return undefined;

      if (!me.active[0].isfile) {
        me.active = [];
        return [];
      } else {
        me.items_carousel.push(me.active[0]);

        var filtered = me.items_secondary.filter(
          (c) =>
            c.nombre == me.active[0].nombre && c.padre == me.active[0].padre
        );

        me.items_carousel = me.items_carousel.concat(filtered);

        return me.active[0];
      }
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
      this.select();
    },
  },

  created() {
    this.listar();
    this.select();
  },

  methods: {
    listar() {
      let me = this;
      me.items_secondary = [];
      me.categorias = [];

      axios
        .get("api/categorias/listar/"+ me.$store.state.empresa.idEmpresa)
        .then(function(response) {
          me.items_secondary = response.data[1].children;
          me.categorias.push(response.data[0]);
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    select() {
      let me = this;
      var categoriasArray = [];
      var idcategoriaactual = 0;

      if (me.adId != "") idcategoriaactual = parseInt(me.adId);

      axios
        .get("api/categorias/select/" + idcategoriaactual)
        .then(function(response) {
          categoriasArray = response.data;
          categoriasArray.map(function(x) {
            me.categoriasSelect.push({ text: x.nombre, value: x.idCategoria });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    editItem(item) {
      this.id = item.id;
      this.nombre = item.nombre;
      this.padre = item.padre;
      this.precio = item.precio;
      this.nivel = item.nivel;
      this.isfile = item.isfile;

      console.log(item.nivel);
      this.editedIndex = 1;
      this.dialog = true;
      this.select();
    },

    addSubItem(item) {
      this.padre = item.id;
      this.nivel = item.nivel;
      this.dialog = true;

      this.select();
    },

    refreshDirectory(item) {
      let me = this;

      this.$store.dispatch("mostrarOcultarProgressbarcircular", true);

      axios
        .post("api/categorias/ActualizarDirectorio", {
          IdCategoria: item.id,
          Nivel: item.nivel,
        })
        .then(function(response) {
          me.listar();

          me.$store.dispatch("mostrarOcultarProgressbarcircular", false);

          me.snackbar = true;
          me.text_snackbar = "Se actualizo el directorio exitosamente";
          me.color_snackbar = "info";
        })
        .catch(function(error) {
          me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
          me.snackbar = true;
          me.color_snackbar = "error";

          if (error.response.status == 400) {
            me.text_snackbar =
              "Error al conectar con google drive, intentelo mas tarde";
          } else {
            me.text_snackbar = "Ocurrió un error al actualizar el directorio";
          }

          //console.log(error);
        });
    },

    close() {
      this.dialog = false;
      this.limpiar();
    },

    limpiar() {
      this.id = "";
      this.nombre = "";
      this.padre = "";
      this.precio = 0;
      this.valida = 0;
      this.validaMensaje = [];
      this.editedIndex = -1;
    },

    guardar() {
      if (this.validar()) {
        return;
      }
      this.$store.dispatch("mostrarOcultarProgressbarcircular", true);

      if (this.editedIndex > -1) {
        //Editar
        let me = this;
        axios
          .put("api/categorias/Actualizar", {
            Id: me.id,
            Nombre: me.nombre,
            Padre: me.padre,
            Isfile: me.isfile,
            Precio: me.precio,
            Idempresa: me.$store.state.empresa.idEmpresa,
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();

            me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
            me.snackbar = true;
            me.text_snackbar =
              "La información ha sido actualizada exitosamente";
            me.color_snackbar = "success";
          })
          .catch(function(error) {
            me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
            me.snackbar = true;
            me.color_snackbar = "error";
            me.text_snackbar = "Ocurrio un error al intentar actualizar";
            //console.log(error);
          });
      } else {
        //Guardar
        let me = this;
        axios
          .post("api/categorias/crear", {
            nombre: me.nombre,
            padre: me.padre,
            precio: me.precio,
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();

            me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
            me.snackbar = true;
            me.text_snackbar = "El elemento ha sido agregado exitosamente";
            me.color_snackbar = "success";
          })
          .catch(function(error) {
            me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
            me.snackbar = true;
            me.color_snackbar = "error";
            me.text_snackbar =
              "Ocurrio un error al intentar agregar el elemento";
            //console.log(error);
          });
      }
    },

    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.nombre.length < 3 || this.nombre.length > 50) {
        this.validaMensaje.push(
          "El nombre debe tener más de 3 caracteres y menos de 50 caracteres"
        );
      }

      if (this.padre.toString().length == 0) {
        this.validaMensaje.push("Seleccione una categoría padre");
      }

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
  },
};
</script>
