<template>
  <v-layout aling-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="encargados"
        :search="search"
        sort-by="nombrecomercial"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Encargados</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon="mdi-magnify"
              label="Búsqueda"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="720px" persistent>
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo</v-btn>
              </template>

              <v-card color="basil">
                <v-card-title class="text-center justify-center py-6">
                  <h1 class="font-weight-bold display-3 basil--text">
                    {{ formTitle }}
                  </h1>
                </v-card-title>

                <v-tabs
                  v-model="tab"
                  background-color="transparent"
                  color="basil"
                  grow
                >
                  <v-tab v-for="item in items" :key="item">{{ item }}</v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                  <v-tab-item v-for="item in items" :key="item">
                    <v-card color="basil" flat>
                      <v-form ref="formencargado" :lazy-validation="lazy">
                        <v-card-text v-if="item == 'Datos Generales'">
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="nombre"
                                  label="Nombre(s)*"
                                  :rules="nombreRules"
                                  :counter="50"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="apellidopaterno"
                                  label="Apellido Paterno*"
                                  :rules="apellidopaternoRules"
                                  :counter="50"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="apellidomaterno"
                                  label="Apellido Materno*"
                                  :rules="apellidomaternoRules"
                                  :counter="50"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6" md="6">
                                <v-layout row wrap>
                                  <v-menu
                                    v-model="menufechanacimiento"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    max-width="290px"
                                    min-width="290px"
                                  >
                                    <template v-slot:activator="{ on }">
                                      <v-text-field
                                        label="Fecha nacimiento"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        :value="fechanacimiento"
                                        :rules="[fechanacimientoRules]"
                                        v-on="on"
                                      ></v-text-field>
                                    </template>
                                    <v-date-picker
                                      locale="es-ES"
                                      :max="maxDate"
                                      v-model="fechanacimiento"
                                      no-title
                                      @input="menufechanacimiento = false"
                                    ></v-date-picker>
                                  </v-menu>
                                </v-layout>
                              </v-col>
                              <v-col cols="12" sm="6" md="6">
                                <v-select
                                  v-model="sexo"
                                  :items="sexos"
                                  label="Sexo*"
                                  :rules="[v => !!v || 'Seleccione un sexo']"
                                  required
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="email"
                                  label="Correo Electronico*"
                                  :rules="emailRules"
                                  :counter="80"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="usuario"
                                  label="Usuario*"
                                  :rules="[usuarioRules]"
                                  :counter="90"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="password"
                                  :append-icon="
                                    show1 ? 'mdi-eye' : 'mdi-eye-off'
                                  "
                                  :rules="[passwordRules]"
                                  :type="show1 ? 'text' : 'password'"
                                  label="Contraseña*"
                                  :counter="80"
                                  @click:append="show1 = !show1"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="passwordconfirm"
                                  :append-icon="
                                    show2 ? 'mdi-eye' : 'mdi-eye-off'
                                  "
                                  :rules="[passwordconfirmRules]"
                                  :type="show2 ? 'text' : 'password'"
                                  label="Contraseña*"
                                  :counter="80"
                                  @click:append="show2 = !show2"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-select
                                  v-model="perfil"
                                  :items="perfiles"
                                  label="Perfil*"
                                  item-text="nombre"
                                  item-value="idPerfil"
                                  :rules="[v => !!v || 'Seleccione un perfil']"
                                  return-object
                                  required
                                ></v-select>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-text v-if="item == 'Direcciones'">
                          <v-container>
                            <v-row>
                              <v-flex>
                                <v-data-table
                                  :headers="headersDirecciones"
                                  :items="direccionesFiltered"
                                  :search="search"
                                  sort-by="identificador"
                                  class="elevation-1"
                                >
                                  <template v-slot:top>
                                    <v-toolbar flat color="white">
                                      <v-toolbar-title></v-toolbar-title>
                                      <v-spacer></v-spacer>
                                      <v-dialog
                                        v-model="dialogDirecciones"
                                        max-width="700px"
                                        persistent
                                      >
                                        <template v-slot:activator="{ on }">
                                          <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            v-on="on"
                                            >Nuevo</v-btn
                                          >
                                        </template>
                                        <v-card color="basil">
                                          <v-card-title
                                            class="text-center justify-center py-6"
                                          >
                                            <h1
                                              class="font-weight-bold display-3 basil--text"
                                            >
                                              {{ formTitleDirecciones }}
                                            </h1>
                                          </v-card-title>
                                          <v-card-text>
                                            <v-form
                                              ref="formDireccion"
                                              :lazy-validation="lazy"
                                            >
                                              <v-container>
                                                <v-row>
                                                  <v-col
                                                    cols="12"
                                                    sm="12"
                                                    md="12"
                                                  >
                                                    <v-text-field
                                                      v-model="identificador"
                                                      label="Identificador*"
                                                      :rules="
                                                        indentificadorRules
                                                      "
                                                      :counter="10"
                                                      required
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-select
                                                      v-model="estado"
                                                      :items="estados"
                                                      label="Estado*"
                                                      item-text="d_estado"
                                                      item-value="c_estado"
                                                      @change="
                                                        cargarMunicipios()
                                                      "
                                                      :rules="[
                                                        v =>
                                                          !!v ||
                                                          'Seleccione un estado'
                                                      ]"
                                                      return-object
                                                      required
                                                    ></v-select>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-select
                                                      v-model="municipio"
                                                      :items="municipiosSorted"
                                                      label="Municipio"
                                                      item-text="d_mnpio"
                                                      item-value="c_mnpio"
                                                      @change="
                                                        cargarLocalidades()
                                                      "
                                                      :rules="[
                                                        v =>
                                                          !!v ||
                                                          'Seleccione una municipio'
                                                      ]"
                                                      return-object
                                                      required
                                                    ></v-select>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-select
                                                      v-model="localidad"
                                                      :items="localidadesSorted"
                                                      label="Localidad"
                                                      item-text="d_ciudad"
                                                      item-value="c_ciudad"
                                                      @change="cargarColonias()"
                                                      :rules="[
                                                        v =>
                                                          !!v ||
                                                          'Seleccione una localidad'
                                                      ]"
                                                      return-object
                                                      required
                                                    ></v-select>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-select
                                                      v-model="colonia"
                                                      :items="coloniasSorted"
                                                      label="Colonia"
                                                      item-text="d_asenta"
                                                      item-value="c_asenta"
                                                      :rules="[
                                                        v =>
                                                          !!v ||
                                                          'Seleccione una colonia'
                                                      ]"
                                                      return-object
                                                      required
                                                    ></v-select>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-text-field
                                                      v-model="calle"
                                                      label="Calle"
                                                      :counter="50"
                                                      :rules="calleRules"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="3"
                                                    md="3"
                                                  >
                                                    <v-text-field
                                                      v-model="noInterior"
                                                      label="No.Interior"
                                                      :counter="10"
                                                      :rules="[noInteriorRule]"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="3"
                                                    md="3"
                                                  >
                                                    <v-text-field
                                                      v-model="noExterior"
                                                      label="No.Exterior"
                                                      :counter="10"
                                                      :rules="[noExteriorRule]"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="12"
                                                    md="12"
                                                  >
                                                    <v-text-field
                                                      v-model="entreCalles"
                                                      label="Entre Calles"
                                                      :counter="60"
                                                      :rules="[entrecallesRule]"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="12"
                                                    md="12"
                                                  >
                                                    <v-text-field
                                                      v-model="referencias"
                                                      label="Referencias"
                                                      :counter="90"
                                                      :rules="[referenciaRule]"
                                                    ></v-text-field>
                                                  </v-col>
                                                </v-row>
                                              </v-container>
                                            </v-form>
                                          </v-card-text>
                                          <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                              color="red darken-1"
                                              text
                                              @click="closeDirecciones"
                                              >Cancelar</v-btn
                                            >
                                            <v-btn
                                              color="green darken-1"
                                              text
                                              @click="guardarDirecciones"
                                              >Guardar</v-btn
                                            >
                                          </v-card-actions>
                                        </v-card>
                                      </v-dialog>
                                    </v-toolbar>
                                  </template>
                                  <template v-slot:item.action="{ item }">
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="editItemDireccion(item)"
                                          v-on="on"
                                          >mdi-pencil</v-icon
                                        >
                                      </template>
                                      <span>Editar</span>
                                    </v-tooltip>
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="deleteItemDireccion(item)"
                                          v-on="on"
                                          >mdi-delete</v-icon
                                        >
                                      </template>
                                      <span>Borrar</span>
                                    </v-tooltip>
                                  </template>
                                  <template v-slot:no-data>
                                    No se encontraron datos
                                  </template>
                                </v-data-table>
                              </v-flex>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-text v-if="item == 'Telefonos'">
                          <v-container>
                            <v-row>
                              <v-flex>
                                <v-data-table
                                  :headers="headersTelefonos"
                                  :items="telefonosFiltered"
                                  :search="search"
                                  sort-by="identificador"
                                  class="elevation-1"
                                >
                                  <template v-slot:top>
                                    <v-toolbar flat color="white">
                                      <v-toolbar-title></v-toolbar-title>
                                      <v-spacer></v-spacer>
                                      <v-dialog
                                        v-model="dialogTelefonos"
                                        max-width="700px"
                                        persistent
                                      >
                                        <template v-slot:activator="{ on }">
                                          <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            v-on="on"
                                            >Nuevo</v-btn
                                          >
                                        </template>
                                        <v-card color="basil">
                                          <v-card-title
                                            class="text-center justify-center py-6"
                                          >
                                            <h1
                                              class="font-weight-bold display-3 basil--text"
                                            >
                                              {{ formTitleTelefonos }}
                                            </h1>
                                          </v-card-title>
                                          <v-card-text>
                                            <v-form
                                              ref="formTelefono"
                                              :lazy-validation="lazy"
                                            >
                                              <v-row>
                                                <v-col cols="12" sm="3" md="3">
                                                  <v-select
                                                    v-model="tipoTelefono"
                                                    :items="tipostelefonos"
                                                    item-text="text"
                                                    item-value="value"
                                                    label="Tipo*"
                                                    :rules="[
                                                      v =>
                                                        !!v ||
                                                        'Seleccione un tipo de telefono'
                                                    ]"
                                                    return-object
                                                    required
                                                  ></v-select>
                                                </v-col>
                                                <v-col cols="12" sm="3" md="3">
                                                  <v-text-field
                                                    v-model="lada"
                                                    label="Lada*"
                                                    :rules="ladaRules"
                                                    :counter="5"
                                                    required
                                                    type="number"
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="6">
                                                  <v-text-field
                                                    v-model="numero"
                                                    label="Numero*"
                                                    :rules="numeroRules"
                                                    :counter="10"
                                                    required
                                                    type="number"
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                            </v-form>
                                          </v-card-text>
                                          <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                              color="red darken-1"
                                              text
                                              @click="closeTelefonos"
                                              >Cancelar</v-btn
                                            >
                                            <v-btn
                                              color="green darken-1"
                                              text
                                              @click="guardarTelefonos"
                                              >Guardar</v-btn
                                            >
                                          </v-card-actions>
                                        </v-card>
                                      </v-dialog>
                                    </v-toolbar>
                                  </template>
                                  <template v-slot:item.action="{ item }">
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="editItemTelefono(item)"
                                          v-on="on"
                                          >mdi-pencil</v-icon
                                        >
                                      </template>
                                      <span>Editar</span>
                                    </v-tooltip>
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="deleteItemTelefono(item)"
                                          v-on="on"
                                          >mdi-delete</v-icon
                                        >
                                      </template>
                                      <span>Borrar</span>
                                    </v-tooltip>
                                  </template>
                                  <template v-slot:no-data>
                                    No se encontraron datos
                                  </template>
                                </v-data-table>
                              </v-flex>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-text v-if="item == 'Accesos'">
                          <v-container>
                            <v-row>
                              <v-data-table
                                :headers="headersSucursales"
                                :items="sucursales"
                                sort-by="nombre"
                                class="elevation-1"
                              >
                                <template v-slot:item.action="{ item }">
                                  <v-checkbox
                                    v-model="item.estatus"
                                  ></v-checkbox>
                                </template>
                                <template v-slot:no-data>
                                  No se encontraron datos
                                </template>
                              </v-data-table>
                            </v-row>
                          </v-container>
                        </v-card-text>
                      </v-form>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
                <v-col cols="12" sm="12" md="12" v-show="valida">
                  <div>
                    <v-alert
                      type="error"
                      border="left"
                      color="red lighten-2"
                      dark
                      v-for="v in validaMensaje"
                      :key="v"
                    >
                      <blockquote v-text="v"></blockquote>
                    </v-alert>
                  </div>
                </v-col>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-1" text @click="close"
                    >Cancelar</v-btn
                  >
                  <v-btn color="green darken-1" text @click="guardar"
                    >Guardar</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="adModal" max-width="390px">
              <v-card>
                <v-card-title class="headline" v-if="adAccion == 1"
                  >¿Desea activar la encargado?</v-card-title
                >
                <v-card-title class="headline" v-if="adAccion == 2"
                  >¿Desea desactivar la encargado?</v-card-title
                >
                <v-card-text>
                  Estas apunto de
                  <span v-if="adAccion == 1">Activar</span>
                  <span v-if="adAccion == 2">Desactivar</span>
                  la encargado {{ adNombre }}
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="green darken-1"
                    @click="activarDesactivarCerrar"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    v-if="adAccion == 1"
                    class="ma-2"
                    text
                    color="orange darken-4"
                    @click="activar"
                    >Activar</v-btn
                  >
                  <v-btn
                    v-if="adAccion == 2"
                    class="ma-2"
                    text
                    color="orange darken-4"
                    @click="desactivar"
                    >Desactivar</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.estatus="{ item }">
          <div v-if="item.estatus">
            <span class="blue--text">Activo</span>
          </div>
          <div v-else>
            <span class="red--text">Desactivado</span>
          </div>
        </template>
        <template v-slot:item.action="{ item }">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-icon small class="mr-2" @click="editItem(item)" v-on="on"
                >mdi-pencil</v-icon
              >
            </template>
            <span>Editar</span>
          </v-tooltip>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <template v-if="item.estatus">
                <v-icon small @click="activarDesactivar(2, item)" v-on="on"
                  >mdi-minus-circle-outline</v-icon
                >
              </template>
              <template v-else>
                <v-icon small @click="activarDesactivar(1, item)" v-on="on"
                  >mdi-check</v-icon
                >
              </template>
            </template>
            <div v-if="item.estatus">
              <span>Desactivar</span>
            </div>
            <div v-else>
              <span>Activar</span>
            </div>
          </v-tooltip>
        </template>
        <template v-slot:no-data>
          No hay encargados para mostrar
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<style scoped>
/* Helper classes */
.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #356859 !important;
}
</style>

<script>
import axios from "axios";
import arrayestados from "../assets/estados.json";
import arraymunicipios from "../assets/municipios.json";
import arraylocalidades from "../assets/localidades.json";
import arraycolonias from "../assets/colonias.json";

export default {
  data() {
    return {
      show1: false,
      show2: false,
      maxDate: "2020-03-01",
      menufechanacimiento: false,
      modalfechanacimiento: false,

      tab: null,
      lazy: false,
      items: [
        "Datos Generales",
        "Direcciones",
        "Telefonos",
        "Accesos"
      ],
      encargados: [],
      dialog: false,
      headers: [
        { text: "Nombre Completo", value: "nombreCompleto" },
        { text: "Usuario", value: "usuario" },
        { text: "Estatus", value: "estatus" },
        { text: "Opciones", value: "action", sortable: false }
      ],
      search: "",
      editedIndex: -1,

      id: "",
      idempresa: "",
      idpersona: "",
      nombre: "",
      apellidopaterno: "",
      apellidomaterno: "",
      fechanacimiento: "",
      sexos: ["Masculino", "Femenino"],
      sexo: "",
      email: "",
      usuario: "",
      password: "",
      passwordconfirm: "",
      validausuario: 0,
      perfil: "",
      perfiles: [],
      estatus: "",
      nombreRules: [
        v => !!v || "El nombre es requerido",
        v =>
          (v && v.length <= 50) ||
          "El nombre no debe tener más de 50 caracteres"
      ],
      apellidopaternoRules: [
        v => !!v || "El apellido paterno es requerido",
        v =>
          (v && v.length <= 50) ||
          "El apellido paterno no debe tener más de 50 caracteres"
      ],
      apellidomaternoRules: [
        v => !!v || "El apellido materno es requerido",
        v =>
          (v && v.length <= 50) ||
          "El apellido materno no debe tener más de 50 caracteres"
      ],
      emailRules: [
        v => !!v || "El correo electronico es requerido",
        v =>
          (v && v.length <= 50) ||
          "El correo electronico debe ser menor a 50 caracteres",

        value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Correo Invalido";
        }
      ],
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: "",

      editedIndexDirecciones: -1,
      dialogDirecciones: false,
      headersDirecciones: [
        { text: "Identificador", value: "Identificador" },
        { text: "Estado", value: "Estado" },
        { text: "Municipio", value: "Municipio" },
        { text: "Ciudad", value: "Localidad" },
        { text: "Colonia", value: "Colonia" },
        { text: "Opciones", value: "action", sortable: false }
      ],
      direcciones: [],
      estados: [],
      municipios: [],
      localidades: [],
      colonias: [],
      estado: null,
      idDireccion: "",
      identificador: "",
      pais: "México",
      municipio: null,
      localidad: null,
      colonia: null,
      calle: null,
      noInterior: null,
      noExterior: null,
      entreCalles: null,
      referencias: null,
      validaDireccion: 0,
      validaMensajeDireccion: [],
      indentificadorRules: [
        v => !!v || "El identificador es requerido",
        v =>
          (v && v.length <= 10) ||
          "El identificador debe ser menor a 11 caracteres"
      ],
      calleRules: [
        v => !!v || "La calle es requerida",
        v => (v && v.length <= 50) || "La calle debe ser menor a 51 caracteres"
      ],

      valid: true,
      editedIndexTelefonos: -1,
      dialogTelefonos: false,
      headersTelefonos: [
        { text: "Tipo", value: "TipoTelefono" },
        { text: "Lada", value: "Lada" },
        { text: "Numero", value: "NoTelefono" },
        { text: "Opciones", value: "action" }
      ],
      telefonos: [],
      tipostelefonos: [],
      idTelefono: "",
      idTipoTelefono: "",
      tipoTelefono: null,
      lada: "",
      numero: "",
      ladaRules: [
        v => !!v || "Lada es requerida",
        v => (v && v.length <= 5) || "Lada debe ser menor a 5 caracteres"
      ],
      numeroRules: [
        v => !!v || "Numero es requerido",
        v => (v && v.length <= 10) || "El numero debe ser menor a 10 caracteres"
      ],
      validaTelefono: 0,
      validaMensajeTelefono: [],

      sucursales: "",
      headersSucursales:[
        { text: "", value: "action" },
        { text: "Nombre", value: "nombre" }       
      ]
      
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex == -1
        ? "Nuevo encargado"
        : "Actualizar encargado";
    },
    formTitleDirecciones() {
      return this.editedIndexDirecciones == -1
        ? "Nueva Dirección"
        : "Actualizar Dirección";
    },
    formTitleTelefonos() {
      return this.editedIndex == -1 ? "Nuevo Telefono" : "Actualizar Telefono";
    },
    municipiosSorted() {
      return this.municipios
        .slice()
        .sort((a, b) => (a.d_mnpio > b.d_mnpio ? 1 : -1));
    },
    localidadesSorted() {
      return this.localidades
        .slice()
        .sort((a, b) => (a.d_ciudad > b.d_ciudad ? 1 : -1));
    },
    coloniasSorted() {
      return this.colonias
        .slice()
        .sort((a, b) => (a.d_asenta > b.d_asenta ? 1 : -1));
    },
    direccionesFiltered() {
      return this.direcciones.filter(c => c.Origen != "eliminar");
    },
    telefonosFiltered() {
      return this.telefonos.filter(c => c.Origen != "eliminar");
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.listar();
    this.cargarSucursales();
    this.cargarEstados();
    this.cargarTipoTelefonos();
    this.cargarPerfiles();
  },

  methods: {
    listar() {
      let me = this;
      me.$store.dispatch("mostrarOcultarProgressbar", true);

      axios
        .get("api/encargados/listar/" + me.$store.state.empresa.idEmpresa)
        .then(function(response) {
          me.encargados = response.data;
          me.$store.dispatch("mostrarOcultarProgressbar", false);
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarPerfiles() {
      let me = this;
      axios
        .get("api/Perfiles/Select/" + 1 + "/" + me.$store.state.empresa.idEmpresa)
        .then(function(response) {
          me.perfiles = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarSucursales() {
      let me = this;

      axios
        .get("api/Sucursales/Listar/"+ + me.$store.state.empresa.idEmpresa)
        .then(function(response) {
          me.sucursales = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarEstados() {
      this.estados = arrayestados;
      this.estado = "";
    },

    cargarMunicipios() {
      this.municipios = [];
      this.localidad = "";
      this.colonia = "";

      for (var clave in arraymunicipios) {
        if (arraymunicipios.hasOwnProperty(clave)) {
          if (arraymunicipios[clave]["c_estado"] == this.estado.c_estado) {
            this.municipios.push({
              d_mnpio: arraymunicipios[clave]["d_mnpio"],
              c_mnpio: arraymunicipios[clave]["c_mnpio"]
            });
          }
        }
      }
    },

    cargarLocalidades() {
      this.localidades = [];
      this.colonia = [];

      for (var clave in arraylocalidades) {
        if (arraylocalidades.hasOwnProperty(clave)) {
          if (
            arraylocalidades[clave]["c_mnpio"] == this.municipio.c_mnpio &&
            arraylocalidades[clave]["c_estado"] == this.estado.c_estado
          ) {
            this.localidades.push({
              c_ciudad: arraylocalidades[clave]["c_ciudad"],
              d_ciudad: arraylocalidades[clave]["d_ciudad"]
            });
          }
        }
      }
    },

    cargarColonias() {
      this.colonias = [];

      for (var clave in arraycolonias) {
        if (arraycolonias.hasOwnProperty(clave)) {
          if (
            arraycolonias[clave]["c_ciudad"] == this.localidad.c_ciudad &&
            arraycolonias[clave]["c_estado"] == this.estado.c_estado &&
            arraycolonias[clave]["c_mnpio"] == this.municipio.c_mnpio
          ) {
            this.colonias.push({
              c_asenta: arraycolonias[clave]["c_asenta"],
              d_asenta: arraycolonias[clave]["d_asenta"]
            });
          }
        }
      }
    },

    cargarTipoTelefonos() {
      let me = this;
      var tipostelefonoArray = [];
      axios
        .get("api/Telefonos/SelectTipoTelefono")
        .then(function(response) {
          tipostelefonoArray = response.data;
          tipostelefonoArray.map(function(x) {
            me.tipostelefonos.push({ text: x.nombre, value: x.idTipoTelefono });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    editItem(item) {
      var encargado = "";
      let me = this;
      me.cargarSucursales();

      axios
        .get("api/encargados/Mostrar/" + item.idEncargado)
        .then(function(response) {
          encargado = response.data;

          me.id = encargado.idEncargado;         
          me.idpersona = encargado.persona.idPersona;
          me.nombre = encargado.persona.nombre;
          me.apellidopaterno = encargado.persona.apellidoPaterno;
          me.apellidomaterno = encargado.persona.apellidoMaterno;
          me.sexo = encargado.persona.sexo;
          var date = new Date(encargado.persona.fechaNacimiento);
          me.fechanacimiento =
            date.getFullYear() +
            "-" +
            ("0" + (date.getMonth() + 1)).slice(-2) +
            "-" +
            ("0" + date.getDate()).slice(-2);
          me.email = encargado.persona.email;
          me.usuario = encargado.usuario.nombre;
          var perfil = me.perfiles.filter(
            p => (p.idPerfil = encargado.usuario.idPerfil)
          );
          me.perfil = {
            idPerfil: perfil[0].idPerfil,
            nombre: perfil[0].nombre
          };

          encargado.direcciones.forEach(item => {
            me.direcciones.push({
              IDDireccion: item.idDireccion,
              Identificador: item.identificador,
              Pais: item.pais,
              IDEstado: item.idEstado,
              Estado: item.estado,
              IDMunicipio: item.idMunicipio,
              Municipio: item.municipio,
              IDLocalidad: item.idLocalidad,
              Localidad: item.localidad,
              IDColonia: item.idColonia,
              Colonia: item.colonia,
              Calle: item.calle,
              NoInterior: item.noInterior,
              NoExterior: item.noExterior,
              EntreCalles: item.entreCalles,
              Referencias: item.referencias,
              Origen: "BD"
            });
          });

          encargado.telefonos.forEach(item => {
            me.telefonos.push({
              IDTelefono: item.idTelefono,
              TipoTelefono: item.tipoTelefono,
              IDTipoTelefono: item.idTipoTelefono,
              Lada: item.lada,
              NoTelefono: item.noTelefono,
              Origen: "BD"
            });
          });

          encargado.sucursales.forEach(item => {                       
            me.sucursales.forEach(s => {
              if (item.idSucursal == s.idSucursal) {
                s.estatus= item.estatus;
              }
            });
          });
        })
        .catch(function(error) {
          console.log(error);
        });

      this.editedIndex = 1;
      this.dialog = true;
    },

    editItemDireccion(item) {
      this.idDireccion = item.IDDireccion;
      this.identificador = item.Identificador;
      this.pais = item.Pais;
      this.estado = { c_estado: item.IDEstado, d_estado: item.Estado };
      this.cargarMunicipios();
      this.municipio = { c_mnpio: item.IDMunicipio, d_mnpio: item.Municipio };
      this.cargarLocalidades();
      this.localidad = { c_ciudad: item.IDLocalidad, d_ciudad: item.Localidad };
      this.cargarColonias();
      this.colonia = { c_asenta: item.IDColonia, d_asenta: item.Colonia };
      this.calle = item.Calle;
      this.noInterior = item.NoInterior;
      this.noExterior = item.NoExterior;
      this.entreCalles = item.EntreCalles;
      this.referencias = item.Referencias;

      this.editedIndexDirecciones = 1;
      this.dialogDirecciones = true;
    },

    editItemTelefono(item) {
      this.idTelefono = item.IDTelefono;
      this.idTipoTelefono = item.IDTipoTelefono;
      this.numero = item.NoTelefono;
      this.lada = item.Lada;
      this.tipoTelefono = {
        text: item.TipoTelefono,
        value: item.IDTipoTelefono
      };

      this.editedIndexTelefonos = 1;
      this.dialogTelefonos = true;
    },

    deleteItemDireccion(item) {
      const index = this.direcciones.indexOf(item);
      confirm("¿Estas seguro de que deseas eliminar esta direccion?") &&
        this.direcciones.forEach(x => {
          if (item.IDDireccion == x.IDDireccion) {
            item.Origen = "eliminar";
          }
        });
    },

    deleteItemTelefono(item) {
      const index = this.telefonos.indexOf(item);
      confirm("¿Estas seguro de que deseas eliminar este telefono?") &&
        this.telefonos.forEach(x => {
          if (item.IDTelefono == x.IDTelefono) {
            item.Origen = "eliminar";
          }
        });
    },

    activarDesactivar(accion, item) {
      this.adModal = 1;
      this.adNombre = item.nombreComercial;
      this.adId = item.idencargado;

      if (accion == 1) {
        this.adAccion = 1;
      } else if (accion == 2) {
        this.adAccion = 2;
      } else {
        this.adModal = 0;
      }
    },

    close() {
      this.dialog = false;
      this.limpiar();
    },

    closeDirecciones() {
      this.dialogDirecciones = false;
      this.limpiarDirecciones();
    },

    closeTelefonos() {
      this.dialogTelefonos = false;
      this.limpiarTelefonos();
    },

    limpiar() {
      this.id = "";
      this.$refs.formencargado[0].reset();
      this.direcciones = [];
      this.telefonos = [];
      this.empresas = [];
      this.sucursales =[];
      this.rfc = "";
      this.razonsocial = "";
      this.nombrecomercial = "";
      this.valida = 0;
      this.validaMensaje = [];
      this.editedIndex = -1;
    },

    limpiarDirecciones() {
      this.idDireccion = "";
      this.pais = "México";
      this.$refs.formDireccion[0].reset();
      this.validaDireccion = 0;
      this.validaMensajeDireccion = [];
      this.editedIndexDirecciones = -1;
    },

    limpiarTelefonos() {
      this.idTelefono = "";
      this.$refs.formTelefono[0].reset();
      this.validaTelefono = 0;
      this.validaMensajeTelefono = [];
      this.editedIndexTelefonos = -1;
    },

    guardar() {
      if (!this.$refs.formencargado[0].validate()) {
        return;
      }

      if (this.validar()) {
        return;
      }
      this.$store.dispatch("mostrarOcultarProgressbarcircular", true);

      if (this.editedIndex > -1) {
        //Editar
        let me = this;

        axios
          .put("api/encargados/Actualizar", {
            IDEncargado: me.id,
            IDEmpresa: me.$store.state.empresa.idEmpresa,
            direcciones: me.direcciones,
            telefonos: me.telefonos,
            sucursales: me.sucursales,
            persona: {
              IDPersona: 0,
              Nombre: me.nombre,
              ApellidoPaterno: me.apellidopaterno,
              ApellidoMaterno: me.apellidomaterno,
              Sexo: me.sexo,
              FechaNacimiento: me.fechanacimiento,
              Email: me.email
            },
            usuario: {
              IDPerfil: me.perfil.idPerfil,
              Nombre: me.usuario,
              Password: me.password
            }
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
            me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
          })
          .catch(function(error) {
            console.log(error);
          });
      } else {
        //Guardar
        let me = this;

        axios
          .get("api/Usuarios/ValidarDisponibilidad/", {
            params: {
              nombreusuario: me.usuario
            }
          })
          .then(function(response) {
            if (response.data == "No disponible") {
              console.log(response.data);

              me.validaMensaje.push("Usuario existente");
              me.valida = 1;
              me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
            } else {
              console.log(response.data);
              console.log(this);

              var modulos = me.modulosBE.concat(me.modulosFE);
              axios
                .post("api/encargados/Crear", {
                  IDEmpresa: me.$store.state.empresa.idEmpresa,
                  direcciones: me.direcciones,
                  telefonos: me.telefonos,                 
                  sucursales: me.sucursales,
                  persona: {
                    IDPersona: 0,
                    Nombre: me.nombre,
                    ApellidoPaterno: me.apellidopaterno,
                    ApellidoMaterno: me.apellidomaterno,
                    Sexo: me.sexo,
                    FechaNacimiento: me.fechanacimiento,
                    Email: me.email
                  },
                  usuario: {
                    IDPerfil: me.perfil.idPerfil,
                    Nombre: me.usuario,
                    Password: me.password
                  }
                })
                .then(function(response) {
                  me.close();
                  me.listar();
                  me.limpiar();
                  me.$store.dispatch(
                    "mostrarOcultarProgressbarcircular",
                    false
                  );
                })
                .catch(function(error) {
                  console.log(error);
                });
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },

    guardarDirecciones() {
      if (!this.$refs.formDireccion[0].validate()) {
        return;
      }
      if (this.editedIndexDirecciones > -1) {
        //Editar
        this.direcciones.forEach(item => {
          if (item.IDDireccion == this.idDireccion) {
            item.Identificador = this.identificador;
            item.Pais = this.pais;
            item.IDEstado = this.estado.c_estado;
            item.Estado = this.estado.d_estado;
            item.IDMunicipio = this.municipio.c_mnpio;
            item.Municipio = this.municipio.d_mnpio;
            item.IDLocalidad = this.localidad.c_ciudad;
            item.Localidad = this.localidad.d_ciudad;
            item.IDColonia = this.colonia.c_asenta;
            item.Colonia = this.colonia.d_asenta;
            item.Calle = this.calle;
            item.NoInterior = this.noInterior;
            item.NoExterior = this.noExterior;
            item.EntreCalles = this.entreCalles;
            item.Referencias = this.referencias;

            if (item.Origen != "Nuevo") {
              item.Origen = "Editado";
            }
            console.log(item);
          }
        });
      } else {
        //Guardar
        var newID = 1;

        if (this.direcciones.length != 0) {
          this.idDireccion =
            Math.max.apply(
              null,
              this.direcciones.map(function(o) {
                return o.IDDireccion;
              })
            ) + 1;
        } else {
          this.idDireccion = newID;
        }

        this.direcciones.push({
          IDDireccion: this.idDireccion,
          Identificador: this.identificador,
          Pais: this.pais,
          IDEstado: this.estado.c_estado,
          Estado: this.estado.d_estado,
          IDMunicipio: this.municipio.c_mnpio,
          Municipio: this.municipio.d_mnpio,
          IDLocalidad: this.localidad.c_ciudad,
          Localidad: this.localidad.d_ciudad,
          IDColonia: this.colonia.c_asenta,
          Colonia: this.colonia.d_asenta,
          Calle: this.calle,
          NoInterior: this.noInterior,
          NoExterior: this.noExterior,
          EntreCalles: this.entreCalles,
          Referencias: this.referencias,
          Origen: "Nuevo"
        });
      }

      this.closeDirecciones();
    },

    guardarTelefonos() {
      if (!this.$refs.formTelefono[0].validate()) {
        return;
      }
      if (this.editedIndexTelefonos > -1) {
        //Editar
        this.telefonos.forEach(item => {
          if (item.IDTelefono == this.idTelefono) {
            item.TipoTelefono = this.tipoTelefono.text;
            item.IDTipoTelefono = this.tipoTelefono.value;
            item.Lada = this.lada;
            item.NoTelefono = this.numero;
          }
          if (item.Origen != "Nuevo") {
            item.Origen = "Editado";
          }
        });
      } else {
        //Guardar
        var newID = 1;

        if (this.telefonos.length != 0) {
          this.idTelefono =
            Math.max.apply(
              null,
              this.telefonos.map(function(o) {
                return o.IDTelefono;
              })
            ) + 1;
        } else {
          this.idTelefono = newID;
        }

        this.telefonos.push({
          IDTelefono: this.idTelefono,
          IDTipoTelefono: this.tipoTelefono.value,
          TipoTelefono: this.tipoTelefono.text,
          Lada: this.lada,
          NoTelefono: this.numero,
          Origen: "Nuevo"
        });
      }

      this.closeTelefonos();
      this.limpiarTelefonos();
    },

    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      /*if (this.direcciones.length == 0) {
        this.validaMensaje.push("No se agregaron direcciones");
      }

      if (this.telefonos.length == 0) {
        this.validaMensaje.push("No se agregaron telefonos");
      }*/

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },

    validarUsuario() {
      let me = this;
      me.validausuario = 0;

      axios
        .get("api/Usuarios/ValidarDisponibilidad/", {
          params: {
            nombreusuario: me.usuario
          }
        })
        .then(function(response) {
          if (response.data == "No disponible") {
            me.validausuario = 0;
          } else {
            me.validausuario = 1;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    activarDesactivarCerrar() {
      this.adModal = 0;
    },

    activar() {
      let me = this;
      axios
        .put("api/encargados/Activar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    desactivar() {
      let me = this;
      axios
        .put("api/encargados/Desactivar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    usuarioRules(value) {
      if (value != null && value != "") {
        if (value.length > 90) {
          return "El nombre de usuario no debe tener más de 90 caracteres";
        }
      } else {
        return "El nombre de usuario es requerido";
      }
      return true;
    },

    passwordRules(value) {
      if (this.editedIndex < 0) {
        if (value != null && value != "") {
          if (value.length < 8) {
            return "La contraseña debe tener más de 8 caracteres";
          }
        } else {
          return "La contraseña es requerida";
        }
      } else {
        if (value != null) {
          if (value.length > 0) {
            if (value.length < 8) {
              return "La contraseña debe tener más de 8 caracteres";
            }
          }
        }
      }

      return true;
    },

    passwordconfirmRules(value) {
      if (this.editedIndex < 0) {
        if (value != null && value != "") {
          if (value != this.password) {
            return "La contraseña confirmada no coincide";
          }
        } else {
          return "La confirmar contraseña es requerido";
        }
      } else {
        if (this.password != null && this.password != "") {
          if (value != this.password) {
            return "La contraseña confirmada no coincide";
          }
        }
      }

      return true;
    },

    fechanacimientoRules(value) {
      if (value == null || value == "") {
        return "La fecha de nacimiento es requerida";
      }
      return true;
    },

    noInteriorRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 10) {
          return "El numero interior debe ser menor a 11 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    noExteriorRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 10) {
          return "El numero exterior debe ser menor a 11 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    entrecallesRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 60) {
          return "La entre calle debe ser menor a 61 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    referenciaRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 90) {
          return "La referencia debe ser menor a 91 caracteres";
        } else {
          return true;
        }
      }
      return true;
    }
  }
};
</script>
