<template>
  <v-layout align-center text-center>
    <v-row align="center" justify="center">
      <v-flex xs12 sm12 md12 lg12 xl12 justify-center align-center>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
        <h1 class="display-3 font-weight-bold mb-3">Bienvenido a Picturix</h1>
      </v-flex>
    </v-row>
  </v-layout>
</template>

<script>
export default {
  name: "HelloWorld",

  data: () => ({}),
  created(){
    
  }
};
</script>
