<template>
  <v-layout align-center justify-center>
    <v-card class="layout-grid">
      <v-card-title>
        <v-container fill-width fluid>
          <v-row justify-center>
            <v-img
              :src="require('../assets/logo.svg')"
              class="my-3"
              contain
              height="128"
              width="128"
            ></v-img>
          </v-row>
          <v-row align="center" justify="center">
            <h2> Iniciar Sesion Picturix </h2>
          </v-row>
        </v-container>
      </v-card-title>
      <v-form ref="form" :lazy-validation="lazy">
        <v-card-text>
          <v-text-field
            v-model="nombre"
            autofocus
            color="accent"
            label="Usuario"
            :rules="nombreRules"
            required
          >
            <v-icon slot="append">
              mdi-account
            </v-icon>
          </v-text-field>
          <v-text-field
            v-model="password"
            type="password"
            color="accent"
            label="Password"
            :rules="passwordRules"
            required
          >
            <v-icon slot="append">
              mdi-key
            </v-icon>
          </v-text-field>
          <v-flex class="red--text" v-if="error">{{ error }}</v-flex>
        </v-card-text>
        <v-card-actions class="px-3 pb-3">
          <v-container fill-width fluid>
            <v-row>
              <v-btn
                :loading="loading"
                dark
                color="teal"
                @click="ingresar"
                block
              >
                Ingresar
                <template v-slot:loader>
                  <span class="custom-loader">
                    <v-icon light>mdi-cached</v-icon>
                  </span>
                  <span>Autenticando...</span>
                </template>
              </v-btn>
            </v-row>

            <v-row align="center" justify="center">
              <blockquote v-text="textSeparator"></blockquote>
            </v-row>

            <v-row>
              <v-btn dark color="teal lighten-2" @click="registrarse" block>
                Registrarse
              </v-btn>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-layout>
</template>

<style>
.layout-grid {
  width: 384px;
  max-width: 384px;
}
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>

<script>
import axios from "axios";

export default {
  data() {
    return {
      nombre: "",
      password: "",
      error: null,
      lazy: null,

      nombreRules: [(v) => !!v || "El usuario es requerido"],
      passwordRules: [(v) => !!v || "La contraseña es requerida"],

      textSeparator: "O",

      loader: null,
      loading: false,
    };
  },
  methods: {
    ingresar() {
      this.error = null;
      let me = this;

      if (this.$refs.form.validate()) {
        this.loader = false;
        this.loading = true;

        axios
          .post("api/Usuarios/Login", {
            Nombre: me.nombre,
            Password: me.password,
          })
          .then((respuesta) => {
            me.$store.dispatch("guardarToken", respuesta.data.token);

            //Get accesos perfil
            axios
              .get(
                "api/Perfiles/ListarAccesosPerfil/" +
                  me.$store.state.usuario.rol
              )
              .then(function(response) {
                me.$store.dispatch("guardarAccesos", response.data);

                //Get Empresa usuario
                axios
                  .get(
                    "api/Empresas/MostrarEmpresaUsuario/" +
                      me.$store.state.usuario.idusuario +
                      "/" +
                      me.$store.state.usuario.rol
                  )
                  .then(function(response) {
                    me.$store.dispatch("cambiarEmpresa", response.data);
                    me.cargarEmpresas();
                  })
                  .catch(function(error) {
                    console.log(error);
                    me.loading = false;
                  });
              })
              .catch(function(error) {
                console.log(error);
                me.loading = false;
              });
          })
          .catch((err) => {
            if (err.response.status == 400) {
              me.error = "No es un usuario válido";
            } else if (err.response.status == 404) {
              me.error = "No existe el usuario o sus datos son incorrectos";
            } else {
              me.error = "Ocurrió un error";
            }
            me.loading = false;
          });
      } else {
        me.loading = false;
      }
    },

    registrarse() {
      this.$router.push({ name: "registro" });
    },

    cargarEmpresas() {
      let me = this;

      axios
        .get("api/Empresas/Select/" + me.$store.state.empresa.idEmpresa)
        .then(function(response) {
          me.empresas = response.data;
          me.loading = false;
          me.$router.push({ name: "home" });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
  },
};
</script>
