<template>
  <v-layout aling-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="perfiles"
        :search="search"
        sort-by="nombre"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Perfiles</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon="mdi-magnify"
              label="Búsqueda"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>

            <v-dialog v-model="dialog" max-width="720px" persistent>
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo</v-btn>
              </template>

              <v-card color="basil">
                <v-card-title class="text-center justify-center py-6">
                  <h1 class="font-weight-bold display-3 basil--text">
                    {{ formTitle }}
                  </h1>
                </v-card-title>

                <v-tabs
                  v-model="tab"
                  background-color="transparent"
                  color="basil"
                  grow
                >
                  <v-tab v-for="item in items" :key="item">{{ item }}</v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                  <v-tab-item v-for="item in items" :key="item">
                    <v-card color="basil" flat>
                      <v-form ref="formperfil" :lazy-validation="lazy">
                        <v-card-text v-if="item == 'Datos Generales'">
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="nombre"
                                  label="Nombre(s)*"
                                  :rules="nombreRules"
                                  :counter="25"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6" md="6">
                                <v-select
                                  v-model="nivel"
                                  :value="nivel"
                                  :items="niveles"
                                  label="Nivel*"
                                  :rules="[v => !!v || 'Seleccione un nivel']"
                                  required
                                  disabled
                                ></v-select>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-text v-if="item == 'Accesos'">
                          <v-container>
                            <v-row>
                              <v-tabs
                                v-model="tabAccesos"
                                background-color="transparent"
                                color="basil"
                                grow
                              >
                                <v-tab
                                  v-for="item1 in itemsmodulos"
                                  :key="item1"
                                >
                                  {{ item1 }}
                                </v-tab>
                              </v-tabs>
                              <v-tabs-items v-model="tabAccesos">
                                <v-tab-item
                                  v-for="item1 in itemsmodulos"
                                  :key="item1"
                                >
                                  <v-card color="basil" flat>
                                    <v-card-text v-if="item1 == 'Back-Site'">
                                      <v-container>
                                        <v-row>
                                          <v-data-table
                                            :headers="headersModulos"
                                            :items="modulosBS"
                                            sort-by="nombre"
                                            class="elevation-1"
                                          >
                                            <template
                                              v-slot:item.action="{ item }"
                                            >
                                              <v-checkbox
                                                v-model="item.estatus"
                                              ></v-checkbox>
                                            </template>
                                            <template v-slot:no-data>
                                              No se encontraron datos
                                            </template>
                                          </v-data-table>
                                        </v-row>
                                      </v-container>
                                    </v-card-text>

                                    <v-card-text v-if="item1 == 'Back-End'">
                                      <v-container>
                                        <v-row>
                                          <v-data-table
                                            :headers="headersModulos"
                                            :items="modulosBE"
                                            sort-by="nombre"
                                            class="elevation-1"
                                          >
                                            <template
                                              v-slot:item.action="{ item }"
                                            >
                                              <v-checkbox
                                                v-model="item.estatus"
                                              ></v-checkbox>
                                            </template>
                                            <template v-slot:no-data>
                                              No se encontraron datos
                                            </template>
                                          </v-data-table>
                                        </v-row>
                                      </v-container>
                                    </v-card-text>

                                    <v-card-text v-if="item1 == 'Frond-End'">
                                      <v-container>
                                        <v-row>
                                          <v-data-table
                                            :headers="headersModulos"
                                            :items="modulosFE"
                                            sort-by="nombre"
                                            class="elevation-1"
                                          >
                                            <template
                                              v-slot:item.action="{ item }"
                                            >
                                              <v-checkbox
                                                v-model="item.estatus"
                                              ></v-checkbox>
                                            </template>
                                            <template v-slot:no-data>
                                              No se encontraron datos
                                            </template>
                                          </v-data-table>
                                        </v-row>
                                      </v-container>
                                    </v-card-text>
                                  </v-card>
                                </v-tab-item>
                              </v-tabs-items>
                            </v-row>
                          </v-container>
                        </v-card-text>
                      </v-form>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
                <v-col cols="12" sm="12" md="12" v-show="valida">
                  <div>
                    <v-alert
                      type="error"
                      border="left"
                      color="red lighten-2"
                      dark
                      v-for="v in validaMensaje"
                      :key="v"
                    >
                      <blockquote v-text="v"></blockquote>
                    </v-alert>
                  </div>
                </v-col>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-1" text @click="close"
                    >Cancelar</v-btn
                  >
                  <v-btn color="green darken-1" text @click="guardar"
                    >Guardar</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="adModal" max-width="390px">
              <v-card>
                <v-card-title class="headline" v-if="adAccion == 1"
                  >¿Desea activar el perfil?</v-card-title
                >
                <v-card-title class="headline" v-if="adAccion == 2"
                  >¿Desea desactivar el perfil?</v-card-title
                >
                <v-card-text>
                  Estas apunto de
                  <span v-if="adAccion == 1">Activar</span>
                  <span v-if="adAccion == 2">Desactivar</span>
                  el perfil {{ adNombre }}
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="green darken-1"
                    @click="activarDesactivarCerrar"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    v-if="adAccion == 1"
                    class="ma-2"
                    text
                    color="orange darken-4"
                    @click="activar"
                    >Activar</v-btn
                  >
                  <v-btn
                    v-if="adAccion == 2"
                    class="ma-2"
                    text
                    color="orange darken-4"
                    @click="desactivar"
                    >Desactivar</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.action="{ item }">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-icon small class="mr-2" @click="editItem(item)" v-on="on"
                >mdi-pencil</v-icon
              >
            </template>
            <span>Editar</span>
          </v-tooltip>
        </template>
        <template v-slot:no-data>
          <!--<v-btn color="primary" @click="initialize">mdi-refresh</v-btn>-->
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<style scoped>
/* Helper classes */
.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #356859 !important;
}
</style>

<script>
import axios from "axios";
export default {
  data() {
    return {
      tab: null,
      dialog: false,
      lazy: false,
      items: ["Datos Generales", "Accesos"],
      headers: [
        { text: "Nombre", value: "nombre" },
        { text: "Opciones", value: "action", sortable: false }
      ],
      niveles: [
        { text: "Encargado", value: 1 },
        { text: "Administrador", value: 2 },
        { text: "Superadministrador", value: 3 }
      ],
      modulos: [],
      perfiles: [],
      search: "",
      editedIndex: -1,
      id: "",
      nombre: "",
      nombreRules: [
        v => !!v || "El nombre es requerido",
        v =>
          (v && v.length <= 25) ||
          "El nombre no debe tener más de 25 caracteres"
      ],
      nivel: "",
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: "",

      idEmpresa: "",
      itemsmodulos: ["Back-Site", "Back-End", "Frond-End"],
      modulosBS: [],
      modulosBE: [],
      modulosFE: [],
      headersModulos: [
        { text: "", value: "action", sortable: false },
        { text: "Nombre Modulo", value: "nombre" }
      ],
      tabAccesos: null
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex == -1 ? "Nuevo Perfil" : "Actualizar Perfil";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
      this.seleccionarNivel();      
    }
  },

  created() {
    this.listar();
    this.seleccionarNivel();
    if (this.nivel == 3) {
      this.cargarModulosBS();
    }
    this.cargarModulosBE();
    this.cargarModulosFE();
  },

  methods: {
    listar() {
      let me = this;
      axios
        .get(
          "api/Perfiles/ListarPerfilesEmpresa/" +
            this.$store.state.usuario.rol +
            "/" +
            this.$store.state.empresa.idEmpresa
        )
        .then(function(response) {
          me.perfiles = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarModulosBS() {
      let me = this;
      me.modulosBS = [];
      axios
        .get("api/Modulos/Listar/" + 3)
        .then(function(response) {
          me.modulosBS = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarModulosBE() {
      let me = this;
      me.modulosBE = [];
      axios
        .get("api/Modulos/Listar/" + 2)
        .then(function(response) {
          me.modulosBE = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarModulosFE() {
      let me = this;
      me.modulosFE = [];
      axios
        .get("api/Modulos/Listar/" + 1)
        .then(function(response) {
          me.modulosFE = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    seleccionarNivel() {
      this.nivel = parseInt(this.$store.state.usuario.rol);
    },

    editItem(item) {
      var me =this;

      axios
        .get("api/perfiles/Mostrar/" + item.idPerfil)
        .then(function(response) {
          var perfil = response.data;

          me.id = perfil.idPerfil;
          me.nombre = perfil.nombre;
          me.nivel = perfil.nivel;

          perfil.modulos.forEach(item => {
             me.modulosBS.forEach(mBS => {
              if (item.idModulo == mBS.idModulo) {
                mBS.estatus = item.estatus;
              }
            });
            me.modulosBE.forEach(mBE => {
              if (item.idModulo == mBE.idModulo) {
                mBE.estatus = item.estatus;
              }
            });
            me.modulosFE.forEach(mFE => {
              if (item.idModulo == mFE.idModulo) {
                mFE.estatus = item.estatus;
              }
            });
          });
        })
        .catch(function(error) {
          console.log(error);
        });

      this.editedIndex = 1;
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },

    activarDesactivar(accion, item) {
      this.adModal = 1;
      this.adNombre = item.nombre;
      this.adId = item.idCategoria;

      if (accion == 1) {
        this.adAccion = 1;
      } else if (accion == 2) {
        this.adAccion = 2;
      } else {
        this.adModal = 0;
      }
    },

    close() {
      this.dialog = false;
      this.limpiar();
    },

    limpiar() {
      this.id = "";
      this.nombre = "";
      this.padre = "";
      this.valida = 0;
      this.validaMensaje = [];
      this.editedIndex = -1;
    },

    guardar() {
      if (!this.$refs.formperfil[0].validate()) {
        return;
      }

      if (this.validar()) {
        return;
      }

      if (this.editedIndex > -1) {
        //Editar
        let me = this;
        var m = me.modulosBE.concat(me.modulosFE).concat(me.modulosBS);
        axios
          .put("api/perfiles/Actualizar", {
            IDPerfil: me.id,
            Nombre: me.nombre,
            Nivel: me.nivel,
            modulos: m
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      } else {
        //Guardar
        let me = this;
        var m = me.modulosBE.concat(me.modulosFE).concat(me.modulosBS);

        axios
          .post("api/perfiles/crear", {
            IDEmpresa: me.$store.state.empresa.idEmpresa,
            Nombre: me.nombre,
            Nivel: me.nivel,
            modulos: m
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },

    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },

    activarDesactivarCerrar() {
      this.adModal = 0;
    },

    activar() {
      let me = this;
      axios
        .put("api/categorias/Activar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    desactivar() {
      let me = this;
      axios
        .put("api/categorias/Desactivar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
