<template>
  <v-layout aling-start>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="Usuarios"
        :search="search"
        sort-by="nombre"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Usuarios</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon="mdi-magnify"
              label="Búsqueda"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>

            <v-dialog v-model="dialog" max-width="720px" persistent>
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo</v-btn>
              </template>

              <v-card color="basil">
                <v-card-title class="text-center justify-center py-6">
                  <h1 class="font-weight-bold display-3 basil--text">
                    {{ formTitle }}
                  </h1>
                </v-card-title>

                <v-tabs
                  v-model="tab"
                  background-color="transparent"
                  color="basil"
                  grow
                >
                  <v-tab v-for="item in items" :key="item">{{ item }}</v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                  <v-tab-item v-for="item in items" :key="item">
                    <v-card color="basil" flat>
                      <v-form ref="formUsuario" :lazy-validation="lazy">
                        <v-card-text v-if="item == 'Datos Generales'">
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="usuario"
                                  label="Usuario*"
                                  :rules="[usuarioRules]"
                                  :counter="90"
                                  :disabled="editedIndex != -1"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="password"
                                  :append-icon="
                                    show1 ? 'mdi-eye' : 'mdi-eye-off'
                                  "
                                  :rules="[passwordRules]"
                                  :type="show1 ? 'text' : 'password'"
                                  label="Contraseña*"
                                  :counter="80"
                                  @click:append="show1 = !show1"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="passwordconfirm"
                                  :append-icon="
                                    show2 ? 'mdi-eye' : 'mdi-eye-off'
                                  "
                                  :rules="[passwordconfirmRules]"
                                  :type="show2 ? 'text' : 'password'"
                                  label="Contraseña*"
                                  :counter="80"
                                  @click:append="show2 = !show2"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-select
                                  v-model="perfil"
                                  :items="perfiles"
                                  label="Perfil*"
                                  item-text="nombre"
                                  item-value="idPerfil"
                                  :rules="[
                                    (v) => !!v || 'Seleccione un perfil',
                                  ]"
                                  return-object
                                  required
                                ></v-select>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
                      </v-form>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
                <v-col cols="12" sm="12" md="12" v-show="valida">
                  <div>
                    <v-alert
                      type="error"
                      border="left"
                      color="red lighten-2"
                      dark
                      v-for="v in validaMensaje"
                      :key="v"
                    >
                      <blockquote v-text="v"></blockquote>
                    </v-alert>
                  </div>
                </v-col>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-1" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="green darken-1" text @click="guardar">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="adModal" max-width="390px">
              <v-card>
                <v-card-title class="headline" v-if="adAccion == 1"
                  >¿Desea activar el Usuario?</v-card-title
                >
                <v-card-title class="headline" v-if="adAccion == 2"
                  >¿Desea desactivar el Usuario?</v-card-title
                >
                <v-card-text>
                  Estas apunto de
                  <span v-if="adAccion == 1">Activar</span>
                  <span v-if="adAccion == 2">Desactivar</span>
                  el Usuario {{ adNombre }}
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="green darken-1"
                    @click="activarDesactivarCerrar"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    v-if="adAccion == 1"
                    class="ma-2"
                    text
                    color="orange darken-4"
                    @click="activar"
                    >Activar</v-btn
                  >
                  <v-btn
                    v-if="adAccion == 2"
                    class="ma-2"
                    text
                    color="orange darken-4"
                    @click="desactivar"
                  >
                    Desactivar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.estatus="{ item }">
          <div v-if="item.estatus">
            <span class="blue--text">Activo</span>
          </div>
          <div v-else>
            <span class="red--text">Desactivado</span>
          </div>
        </template>

        <template v-slot:item.action="{ item }">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-icon small class="mr-2" @click="editItem(item)" v-on="on">
                mdi-pencil
              </v-icon>
            </template>
            <span>Editar</span>
          </v-tooltip>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <template v-if="item.estatus">
                <v-icon small @click="activarDesactivar(2, item)" v-on="on"
                  >mdi-minus-circle-outline</v-icon
                >
              </template>
              <template v-else>
                <v-icon small @click="activarDesactivar(1, item)" v-on="on"
                  >mdi-check</v-icon
                >
              </template>
            </template>
            <div v-if="item.estatus">
              <span>Desactivar</span>
            </div>
            <div v-else>
              <span>Activar</span>
            </div>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<style scoped>
/* Helper classes */
.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #356859 !important;
}
</style>

<script>
import axios from "axios";
export default {
  data() {
    return {
      tab: null,
      dialog: false,
      lazy: false,
      items: ["Datos Generales"],
      headers: [
        { text: "Nombre", value: "nombre" },
        { text: "Perfil", value: "nombrePerfil" },
        { text: "Estatus", value: "estatus" },
        { text: "Opciones", value: "action", sortable: false },
      ],
      Usuarios: [],
      search: "",
      editedIndex: -1,

      id: "",
      usuario: "",
      password: "",
      passwordconfirm: "",
      perfil: "",
      perfiles: [],
      show1: false,
      show2: false,
      estatus: "",

      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: "",
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex == -1 ? "Nuevo Usuario" : "Actualizar Usuario";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.listar();
    this.cargarPerfiles();
  },

  methods: {
    listar() {
      let me = this;
      axios
        .get(
          "api/Usuarios/ListarAvanzado/" +
            this.$store.state.empresa.idEmpresa +
            "/" +
            this.$store.state.usuario.idusuario
        )
        .then(function(response) {
          me.Usuarios = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarPerfiles() {
      let me = this;
      var idempresa = me.$store.state.empresa.idEmpresa;
      if (me.$store.state.usuario.rol == 3) {
        idempresa = 0;
      }
      axios
        .get(
          "api/Perfiles/SelectAvanzado/" +
            me.$store.state.usuario.rol +
            "/" +
            idempresa
        )
        .then(function(response) {
          me.perfiles = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    editItem(item) {
      var me = this;

      axios
        .get("api/Usuarios/Mostrar/" + item.idUsuario)
        .then(function(response) {
          console.log(response.data);
          var Usuario = response.data;

          me.id = Usuario.idUsuario;
          me.usuario = Usuario.usuario;
          me.perfil = Usuario.idPerfil;
        })
        .catch(function(error) {
          console.log(error);
        });

      this.editedIndex = 1;
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },

    activarDesactivar(accion, item) {
      this.adModal = 1;
      this.adNombre = item.nombre;
      this.adId = item.idUsuario;

      if (accion == 1) {
        this.adAccion = 1;
      } else if (accion == 2) {
        this.adAccion = 2;
      } else {
        this.adModal = 0;
      }
    },

    close() {
      this.dialog = false;
      this.limpiar();
    },

    limpiar() {
      this.id = "";
      this.nombre = "";
      this.padre = "";
      this.valida = 0;
      this.validaMensaje = [];
      this.editedIndex = -1;
    },

    guardar() {
      if (!this.$refs.formUsuario[0].validate()) {
        return;
      }

      if (this.validar()) {
        return;
      }

      if (this.editedIndex > -1) {
        //Editar
        let me = this;

        axios
          .put("api/Usuarios/Actualizar", {
            IDUsuario: me.id,
            IDPerfil: me.nombre,
            Password: me.password,
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      } else {
        //Guardar
        let me = this;

        axios
          .get("api/Usuarios/ValidarDisponibilidad/", {
            params: {
              nombreusuario: me.usuario,
            },
          })
          .then(function(response) {
            if (response.data == "No disponible") {
              me.validaMensaje.push("Usuario existente");
              me.valida = 1;
              me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
            } else {
              var idempresa = me.$store.state.idempresa;
              if (me.$store.state.usuario.rol == 3) {
                idempresa = 0;
              }

              axios
                .post("api/Usuarios/CrearUsuarioEmpresa", {
                  IDPerfil: me.perfil.idPerfil,
                  IDEmpresa: idempresa,
                  Nombre: me.usuario,
                  Password: me.password,
                })
                .then(function(response) {
                  me.close();
                  me.listar();
                  me.limpiar();
                })
                .catch(function(error) {
                  console.log(error);
                });
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },

    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },

    activarDesactivarCerrar() {
      this.adModal = 0;
    },

    activar() {
      let me = this;
      axios
        .put("api/usuarios/Activar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    desactivar() {
      let me = this;
      axios
        .put("api/usuarios/Desactivar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    usuarioRules(value) {
      if (value != null && value != "") {
        if (value.length > 90) {
          return "El nombre de usuario no debe tener más de 90 caracteres";
        }
      } else {
        return "El nombre de usuario es requerido";
      }
      return true;
    },

    passwordRules(value) {
      if (this.editedIndex < 0) {
        if (value != null && value != "") {
          if (value.length < 8) {
            return "La contraseña debe tener más de 8 caracteres";
          }
        } else {
          return "La contraseña es requerida";
        }
      } else {
        if (value != null) {
          if (value.length > 0) {
            if (value.length < 8) {
              return "La contraseña debe tener más de 8 caracteres";
            }
          }
        }
      }

      return true;
    },

    passwordconfirmRules(value) {
      if (this.editedIndex < 0) {
        if (value != null && value != "") {
          if (value != this.password) {
            return "La contraseña confirmada no coincide";
          }
        } else {
          return "La confirmar contraseña es requerido";
        }
      } else {
        if (this.password != null && this.password != "") {
          if (value != this.password) {
            return "La contraseña confirmada no coincide";
          }
        }
      }

      return true;
    },
  },
};
</script>
