<template>
  <v-layout aling-start>
    <v-flex>
      <v-stepper v-model="e1">
        <v-stepper-header>
          <v-stepper-step :complete="e1 > 1" step="1">
            Información de la empresa
          </v-stepper-step>

          <v-divider></v-divider>
          <v-stepper-step :complete="e1 > 2" step="2">
            Información del usuario
          </v-stepper-step>

          <v-divider></v-divider>
          <v-stepper-step :complete="e1 > 3" step="3">
            Finalizar
          </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <!--Start Seccion Empresa><!-->
          <v-stepper-content step="1">
            <v-card>
              <v-toolbar flat color="primary" dark>
                <v-toolbar-title>Información empresarial</v-toolbar-title>
              </v-toolbar>
              <v-tabs v-model="tabEmpresa" vertical>
                <v-tab v-for="item in itemsEmpresa" :key="item">
                  {{ item }}
                </v-tab>

                <v-tabs-items v-model="tabEmpresa">
                  <v-tab-item v-for="item in itemsEmpresa" :key="item">
                    <v-card flat>
                      <v-form ref="formEmpresa" :lazy-validation="lazy">
                        <!--Start Datos Generales de la empresa><!-->
                        <v-card-text v-if="item == 'Datos Generales'">
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="rfc"
                                  label="RFC*"
                                  :rules="rfcRules"
                                  :counter="13"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                  v-model="email"
                                  label="Email*"
                                  :rules="emailRules"
                                  :counter="40"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="12">
                                <v-text-field
                                  v-model="nombreComercial"
                                  label="Nombre Comercial*"
                                  :rules="nombreComercialRules"
                                  :counter="80"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="12">
                                <v-text-field
                                  v-model="razonSocial"
                                  label="Razon Social*"
                                  :rules="razonSocialRules"
                                  :counter="80"
                                  required
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
                        <!--End Datos Generales de la empresa><!-->

                        <!--Start Direcciones Empresa><!-->
                        <v-card-text v-if="item == 'Dirección'">
                          <v-container>
                            <v-row>
                              <v-flex>
                                <v-data-table
                                  :headers="headersDirecciones"
                                  :items="direccionesFiltered"
                                  sort-by="identificador"
                                  class="elevation-1"
                                >
                                  <template v-slot:top>
                                    <v-toolbar flat color="white">
                                      <v-toolbar-title></v-toolbar-title>
                                      <v-spacer></v-spacer>
                                      <v-dialog
                                        v-model="dialogDireccionesEmpresa"
                                        max-width="700px"
                                        persistent
                                      >
                                        <template v-slot:activator="{ on }">
                                          <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            v-on="on"
                                            >Nuevo</v-btn
                                          >
                                        </template>
                                        <v-card color="basil">
                                          <v-card-title
                                            class="text-center justify-center py-6"
                                          >
                                            <h1
                                              class="font-weight-bold display-3 basil--text"
                                            >
                                              {{ formTitleDirecciones }}
                                            </h1>
                                          </v-card-title>
                                          <v-card-text>
                                            <v-form
                                              ref="formDireccionEmpresa"
                                              :lazy-validation="lazy"
                                            >
                                              <v-container>
                                                <v-row>
                                                  <v-col
                                                    cols="12"
                                                    sm="12"
                                                    md="12"
                                                  >
                                                    <v-text-field
                                                      v-model="identificador"
                                                      label="Identificador*"
                                                      :rules="
                                                        indentificadorRules
                                                      "
                                                      :counter="10"
                                                      required
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-select
                                                      v-model="estado"
                                                      :items="estados"
                                                      label="Estado*"
                                                      item-text="d_estado"
                                                      item-value="c_estado"
                                                      @change="
                                                        cargarMunicipios()
                                                      "
                                                      :rules="[
                                                        (v) =>
                                                          !!v ||
                                                          'Seleccione un estado',
                                                      ]"
                                                      return-object
                                                      required
                                                    ></v-select>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-select
                                                      v-model="municipio"
                                                      :items="municipiosSorted"
                                                      label="Municipio"
                                                      item-text="d_mnpio"
                                                      item-value="c_mnpio"
                                                      @change="
                                                        cargarLocalidades()
                                                      "
                                                      :rules="[
                                                        (v) =>
                                                          !!v ||
                                                          'Seleccione una municipio',
                                                      ]"
                                                      return-object
                                                      required
                                                    ></v-select>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-select
                                                      v-model="localidad"
                                                      :items="localidadesSorted"
                                                      label="Localidad"
                                                      item-text="d_ciudad"
                                                      item-value="c_ciudad"
                                                      @change="cargarColonias()"
                                                      :rules="[
                                                        (v) =>
                                                          !!v ||
                                                          'Seleccione una localidad',
                                                      ]"
                                                      return-object
                                                      required
                                                    ></v-select>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-select
                                                      v-model="colonia"
                                                      :items="coloniasSorted"
                                                      label="Colonia"
                                                      item-text="d_asenta"
                                                      item-value="c_asenta"
                                                      :rules="[
                                                        (v) =>
                                                          !!v ||
                                                          'Seleccione una colonia',
                                                      ]"
                                                      return-object
                                                      required
                                                    ></v-select>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="6"
                                                  >
                                                    <v-text-field
                                                      v-model="calle"
                                                      label="Calle"
                                                      :counter="50"
                                                      :rules="calleRules"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="3"
                                                    md="3"
                                                  >
                                                    <v-text-field
                                                      v-model="noInterior"
                                                      label="No.Interior"
                                                      :counter="10"
                                                      :rules="[noInteriorRule]"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="3"
                                                    md="3"
                                                  >
                                                    <v-text-field
                                                      v-model="noExterior"
                                                      label="No.Exterior"
                                                      :counter="10"
                                                      :rules="[noExteriorRule]"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="12"
                                                    md="12"
                                                  >
                                                    <v-text-field
                                                      v-model="entreCalles"
                                                      label="Entre Calles"
                                                      :counter="60"
                                                      :rules="[entrecallesRule]"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col
                                                    cols="12"
                                                    sm="12"
                                                    md="12"
                                                  >
                                                    <v-text-field
                                                      v-model="referencias"
                                                      label="Referencias"
                                                      :counter="90"
                                                      :rules="[referenciaRule]"
                                                    ></v-text-field>
                                                  </v-col>
                                                </v-row>
                                              </v-container>
                                            </v-form>
                                          </v-card-text>
                                          <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                              color="red darken-1"
                                              text
                                              @click="closeDireccionesEmpresas"
                                              >Cancelar</v-btn
                                            >
                                            <v-btn
                                              color="green darken-1"
                                              text
                                              @click="guardarDireccionesEmpresa"
                                              >Guardar</v-btn
                                            >
                                          </v-card-actions>
                                        </v-card>
                                      </v-dialog>
                                    </v-toolbar>
                                  </template>
                                  <template v-slot:item.action="{ item }">
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="
                                            editItemDireccionEmpresa(item)
                                          "
                                          v-on="on"
                                          >mdi-pencil</v-icon
                                        >
                                      </template>
                                      <span>Editar</span>
                                    </v-tooltip>
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="
                                            deleteItemDireccionEmpresa(item)
                                          "
                                          v-on="on"
                                          >mdi-delete</v-icon
                                        >
                                      </template>
                                      <span>Borrar</span>
                                    </v-tooltip>
                                  </template>
                                  <template v-slot:no-data>
                                    No se encontraron datos
                                  </template>
                                </v-data-table>
                              </v-flex>
                            </v-row>
                          </v-container>
                        </v-card-text>
                        <!--End Direcciones Empresa><!-->

                        <!--Start Telefonos de la empresa><!-->
                        <v-card-text v-if="item == 'Telefono'">
                          <v-container>
                            <telefonos-list :telefonos="telefonosEmpresa"></telefonos-list>
                          </v-container>
                        </v-card-text>
                        <!--End Telefonos Empresa><!-->
                      </v-form>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-tabs>

              <v-col cols="12" sm="12" md="12" v-show="validaEmpresa">
                <div>
                  <v-alert
                    type="error"
                    border="left"
                    color="red lighten-2"
                    dark
                    v-for="v in validaMensajeEmpresa"
                    :key="v"
                  >
                    <blockquote v-text="v"></blockquote>
                  </v-alert>
                </div>
              </v-col>
            </v-card>

            <v-spacer></v-spacer>
            <v-btn color="primary" @click="irRegistroAdministrador()">
              Continuar
            </v-btn>
            <v-btn text @click="cancelar">Cancelar</v-btn>
          </v-stepper-content>
          <!--End Seccion Empresa><!-->

          <!--Start Seccion Administrador><!-->
          <v-stepper-content step="2">
            <v-card color="basil">
              <v-toolbar flat color="primary" dark>
                <v-toolbar-title>Información empresarial</v-toolbar-title>
              </v-toolbar>
              <v-tabs v-model="tabAdministrador" vertical>
                <v-tab v-for="item in itemsAdministrador" :key="item">
                  {{ item }}
                </v-tab>
                <v-tabs-items v-model="tabAdministrador">
                  <v-tab-item v-for="item in itemsAdministrador" :key="item">
                    <v-card flat>
                      <v-form ref="formadministrador" :lazy-validation="lazy">
                        <!--Start Informacion Administrador><!-->
                        <v-card-text v-if="item == 'Datos Generales'">
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="nombre"
                                  label="Nombre(s)*"
                                  :rules="nombreRules"
                                  :counter="50"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="apellidopaterno"
                                  label="Apellido Paterno*"
                                  :rules="apellidopaternoRules"
                                  :counter="50"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="apellidomaterno"
                                  label="Apellido Materno*"
                                  :rules="apellidomaternoRules"
                                  :counter="50"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="usuario"
                                  label="Usuario*"
                                  :rules="[usuarioRules]"
                                  :counter="90"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="password"
                                  :append-icon="
                                    show1 ? 'mdi-eye' : 'mdi-eye-off'
                                  "
                                  :rules="[passwordRules]"
                                  :type="show1 ? 'text' : 'password'"
                                  label="Contraseña*"
                                  :counter="80"
                                  @click:append="show1 = !show1"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="passwordconfirm"
                                  :append-icon="
                                    show2 ? 'mdi-eye' : 'mdi-eye-off'
                                  "
                                  :rules="[passwordconfirmRules]"
                                  :type="show2 ? 'text' : 'password'"
                                  label="Contraseña*"
                                  :counter="80"
                                  @click:append="show2 = !show2"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4">
                                <v-text-field
                                  v-model="emailadministrador"
                                  label="Correo Electronico*"
                                  :rules="emailadministradorRules"
                                  :counter="80"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="4" md="4" v-if="1 > 2">
                                <v-select
                                  v-model="perfil"
                                  :items="perfiles"
                                  label="Perfil*"
                                  item-text="nombre"
                                  item-value="idPerfil"
                                  :rules="[
                                    (v) => !!v || 'Seleccione un perfil',
                                  ]"
                                  return-object
                                  required
                                  disabled
                                ></v-select>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
                        <!--End Informacion Administrador><!-->

                        <!--Start Telefonos Administrador><!-->
                        <v-card-text v-if="item == 'Telefono(Opcional)'">
                          <v-container>
                            <v-row>
                              <v-flex>
                                <v-data-table
                                  :headers="headersTelefonos"
                                  :items="telefonosAdministradorFiltered"
                                  sort-by="identificador"
                                  class="elevation-1"
                                >
                                  <template v-slot:top>
                                    <v-toolbar flat color="white">
                                      <v-toolbar-title></v-toolbar-title>
                                      <v-spacer></v-spacer>
                                      <v-dialog
                                        v-model="dialogTelefonosAdministrador"
                                        max-width="700px"
                                        persistent
                                      >
                                        <template v-slot:activator="{ on }">
                                          <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            v-on="on"
                                            >Nuevo</v-btn
                                          >
                                        </template>
                                        <v-card color="basil">
                                          <v-card-title
                                            class="text-center justify-center py-6"
                                          >
                                            <h1
                                              class="font-weight-bold display-3 basil--text"
                                            >
                                              {{ formTitleTelefonos }}
                                            </h1>
                                          </v-card-title>
                                          <v-card-text>
                                            <v-form
                                              ref="formTelefonoAdministrador"
                                              :lazy-validation="lazy"
                                            >
                                              <v-row>
                                                <v-col cols="12" sm="3" md="3">
                                                  <v-select
                                                    v-model="tipoTelefono"
                                                    :items="tipostelefonos"
                                                    item-text="text"
                                                    item-value="value"
                                                    label="Tipo*"
                                                    :rules="[
                                                      (v) =>
                                                        !!v ||
                                                        'Seleccione un tipo de telefono',
                                                    ]"
                                                    return-object
                                                    required
                                                  ></v-select>
                                                </v-col>
                                                <v-col cols="12" sm="3" md="3">
                                                  <v-text-field
                                                    v-model="lada"
                                                    label="Lada*"
                                                    :rules="ladaRules"
                                                    :counter="5"
                                                    required
                                                    type="number"
                                                  ></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="6">
                                                  <v-text-field
                                                    v-model="numero"
                                                    label="Numero*"
                                                    :rules="numeroRules"
                                                    :counter="10"
                                                    required
                                                    type="number"
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                            </v-form>
                                          </v-card-text>
                                          <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                              color="red darken-1"
                                              text
                                              @click="
                                                closeTelefonosAdministrador
                                              "
                                              >Cancelar</v-btn
                                            >
                                            <v-btn
                                              color="green darken-1"
                                              text
                                              @click="
                                                guardarTelefonosAdministrador
                                              "
                                              >Guardar</v-btn
                                            >
                                          </v-card-actions>
                                        </v-card>
                                      </v-dialog>
                                    </v-toolbar>
                                  </template>
                                  <template v-slot:item.action="{ item }">
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="
                                            editItemTelefonoAdministrador(item)
                                          "
                                          v-on="on"
                                        >
                                          mdi-pencil
                                        </v-icon>
                                      </template>
                                      <span>Editar</span>
                                    </v-tooltip>
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on }">
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="
                                            deleteItemTelefonoAdministrador(
                                              item
                                            )
                                          "
                                          v-on="on"
                                          >mdi-delete</v-icon
                                        >
                                      </template>
                                      <span>Borrar</span>
                                    </v-tooltip>
                                  </template>
                                  <template v-slot:no-data>
                                    No se encontraron datos
                                  </template>
                                </v-data-table>
                              </v-flex>
                            </v-row>
                          </v-container>
                        </v-card-text>
                        <!--End Telefonos Administrador><!-->
                      </v-form>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-tabs>

              <v-col cols="12" sm="12" md="12" v-show="validaAdministrador">
                <div>
                  <v-alert
                    type="error"
                    border="left"
                    color="red lighten-2"
                    dark
                    v-for="v in validaMensajeAdministrador"
                    :key="v"
                  >
                    <blockquote v-text="v"></blockquote>
                  </v-alert>
                </div>
              </v-col>
            </v-card>

            <v-btn color="primary" @click="completarRegistro()">
              Continuar
            </v-btn>
          </v-stepper-content>
          <!--End Seccion Administrador><!-->

          <v-stepper-content step="3">
            <v-card class="mb-12" color="grey lighten-1" height="200px">
              <h4>Se ha completado el registro exitosamente</h4>
              <h6>Ya puede acceder iniciar sesion</h6>
            </v-card>

            <v-btn color="primary" @click="irLogin()">
              Finalizar
            </v-btn>

            <v-btn text>Cancel</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
import arrayestados from "../../../assets/estados.json";
import arraymunicipios from "../../../assets/municipios.json";
import arraylocalidades from "../../../assets/localidades.json";
import arraycolonias from "../../../assets/colonias.json";
import TelefonoList from "../../Public/Telefonos/telefonos-list/telefonos-list.vue";

export default {
  components: {
    "telefonos-list": TelefonoList,
  },
  data() {
    return {
      tabEmpresa: null,
      lazy: false,
      e1: 1,
      itemsEmpresa: ["Datos Generales", "Dirección", "Telefono"],
      editedIndex: -1,

      id: "",
      rfc: "",
      email: "",
      nombreComercial: "",
      razonSocial: "",
      estatus: "",
      rfcRules: [
        (v) => !!v || "El RFC es requerido",
        (v) => (v && v.length <= 13) || "El RFC debe ser menor a 13 caracteres",
      ],
      emailRules: [
        (v) => !!v || "El correo electronico es requerido",
        (v) =>
          (v && v.length <= 40) ||
          "El correo electronico debe ser menor a 40 caracteres",

        (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Correo Invalido";
        },
      ],
      nombreComercialRules: [
        (v) => !!v || "El nombre comercial es requerido",
        (v) =>
          (v && v.length <= 80) ||
          "El nombre comercial debe ser menor a 80 caracteres",
      ],
      razonSocialRules: [
        (v) => !!v || "La razon social es requerida",
        (v) =>
          (v && v.length <= 80) ||
          "La razon social debe ser menor a 80 caracteres",
      ],
      validaEmpresa: 0,
      validaMensajeEmpresa: [],

      editedIndexDireccionesEmpresa: -1,
      dialogDireccionesEmpresa: false,
      headersDirecciones: [
        { text: "Identificador", value: "Identificador" },
        { text: "Estado", value: "Estado" },
        { text: "Municipio", value: "Municipio" },
        { text: "Ciudad", value: "Localidad" },
        { text: "Colonia", value: "Colonia" },
        { text: "Opciones", value: "action", sortable: false },
      ],
      direccionesEmpresa: [],
      estados: [],
      municipios: [],
      localidades: [],
      colonias: [],
      estado: null,
      idDireccion: "",
      identificador: "",
      pais: "México",
      municipio: null,
      localidad: null,
      colonia: null,
      calle: null,
      noInterior: null,
      noExterior: null,
      entreCalles: null,
      referencias: null,
      validaDireccion: 0,
      validaMensajeDireccion: [],
      indentificadorRules: [
        (v) => !!v || "El identificador es requerido",
        (v) =>
          (v && v.length <= 10) ||
          "El identificador debe ser menor a 11 caracteres",
      ],
      calleRules: [
        (v) => !!v || "La calle es requerida",
        (v) =>
          (v && v.length <= 50) || "La calle debe ser menor a 51 caracteres",
      ],

      valid: true,
      editedIndexTelefonosEmpresa: -1,
      dialogTelefonosEmpresa: false,
      headersTelefonos: [
        { text: "Tipo", value: "TipoTelefono" },
        { text: "Lada", value: "Lada" },
        { text: "Numero", value: "NoTelefono" },
        { text: "Opciones", value: "action" },
      ],
      telefonosEmpresa: [],
      tipostelefonos: [],
      idTelefono: "",
      idTipoTelefono: "",
      tipoTelefono: null,
      lada: "",
      numero: "",
      ladaRules: [
        (v) => !!v || "Lada es requerida",
        (v) => (v && v.length <= 5) || "Lada debe ser menor a 5 caracteres",
      ],
      numeroRules: [
        (v) => !!v || "Numero es requerido",
        (v) =>
          (v && v.length <= 10) || "El numero debe ser menor a 10 caracteres",
      ],
      validaTelefonoEmpresa: 0,
      validaMensajeTelefonoEmpresa: [],

      //data step 2
      show1: false,
      show2: false,
      tabAdministrador: "Datos Generales",
      lazy: false,
      itemsAdministrador: ["Datos Generales", "Telefono(Opcional)"],
      administradores: [],
      idTelefonoAdministrador: "",
      id: "",
      idempresa: "",
      idpersona: "",
      nombre: "",
      apellidopaterno: "",
      apellidomaterno: "",
      emailadministrador: "",
      usuario: "",
      password: "",
      passwordconfirm: "",
      validausuario: 0,
      perfil: "",
      perfiles: [],
      estatus: "",
      nombreRules: [
        (v) => !!v || "El nombre es requerido",
        (v) =>
          (v && v.length <= 50) ||
          "El nombre no debe tener más de 50 caracteres",
      ],
      apellidopaternoRules: [
        (v) => !!v || "El apellido paterno es requerido",
        (v) =>
          (v && v.length <= 50) ||
          "El apellido paterno no debe tener más de 50 caracteres",
      ],
      apellidomaternoRules: [
        (v) => !!v || "El apellido materno es requerido",
        (v) =>
          (v && v.length <= 50) ||
          "El apellido materno no debe tener más de 50 caracteres",
      ],
      emailadministradorRules: [
        (v) => !!v || "El correo electronico es requerido",
        (v) =>
          (v && v.length <= 50) ||
          "El correo electronico debe ser menor a 50 caracteres",

        (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Correo Invalido";
        },
      ],
      validaAdministrador: 0,
      validaMensajeAdministrador: [],
      editedIndexDireccionesAdministrador: -1,
      dialogDireccionesAdministrador: false,
      direccionesAdministrador: [],
      validaDireccionAdministrador: 0,
      validaMensajeDireccionAdministrador: [],
      valid: true,
      editedIndexTelefonosAdministrador: -1,
      dialogTelefonosAdministrador: false,
      telefonosAdministrador: [],
      validaTelefonoAdministrador: 0,
      validaMensajeTelefonoAdministrador: [],
    };
  },

  computed: {
    formTitleDirecciones() {
      return this.editedIndexDireccionesEmpresa == -1
        ? "Nueva Dirección"
        : "Actualizar Dirección";
    },
    formTitleTelefonos() {
      return this.editedIndexTelefonosEmpresa == -1
        ? "Nuevo Telefono"
        : "Actualizar Telefono";
    },
    municipiosSorted() {
      return this.municipios
        .slice()
        .sort((a, b) => (a.d_mnpio > b.d_mnpio ? 1 : -1));
    },
    localidadesSorted() {
      return this.localidades
        .slice()
        .sort((a, b) => (a.d_ciudad > b.d_ciudad ? 1 : -1));
    },
    coloniasSorted() {
      return this.colonias
        .slice()
        .sort((a, b) => (a.d_asenta > b.d_asenta ? 1 : -1));
    },
    direccionesFiltered() {
      return this.direccionesEmpresa.filter((c) => c.Origen != "eliminar");
    },
    telefonosFiltered() {
      return this.telefonosEmpresa.filter((c) => c.Origen != "eliminar");
    },
    formTitleTelefonosAdministrador() {
      return this.editedIndexTelefonosAdministrador == -1
        ? "Nuevo Telefono"
        : "Actualizar Telefono";
    },
    telefonosAdministradorFiltered() {
      return this.telefonosAdministrador.filter((c) => c.Origen != "eliminar");
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.cargarEstados();
    this.cargarTipoTelefonos();
    this.cargarTipoTelefonos();
    this.cargarPerfiles();
  },

  methods: {
    cargarEstados() {
      this.estados = arrayestados;
      this.estado = "";
    },

    cargarMunicipios() {
      this.municipios = [];
      this.localidad = "";
      this.colonia = "";

      for (var clave in arraymunicipios) {
        if (arraymunicipios.hasOwnProperty(clave)) {
          if (arraymunicipios[clave]["c_estado"] == this.estado.c_estado) {
            this.municipios.push({
              d_mnpio: arraymunicipios[clave]["d_mnpio"],
              c_mnpio: arraymunicipios[clave]["c_mnpio"],
            });
          }
        }
      }
    },

    cargarLocalidades() {
      this.localidades = [];
      this.colonia = [];

      for (var clave in arraylocalidades) {
        if (arraylocalidades.hasOwnProperty(clave)) {
          if (
            arraylocalidades[clave]["c_mnpio"] == this.municipio.c_mnpio &&
            arraylocalidades[clave]["c_estado"] == this.estado.c_estado
          ) {
            this.localidades.push({
              c_ciudad: arraylocalidades[clave]["c_ciudad"],
              d_ciudad: arraylocalidades[clave]["d_ciudad"],
            });
          }
        }
      }
    },

    cargarColonias() {
      this.colonias = [];

      for (var clave in arraycolonias) {
        if (arraycolonias.hasOwnProperty(clave)) {
          if (
            arraycolonias[clave]["c_ciudad"] == this.localidad.c_ciudad &&
            arraycolonias[clave]["c_estado"] == this.estado.c_estado &&
            arraycolonias[clave]["c_mnpio"] == this.municipio.c_mnpio
          ) {
            this.colonias.push({
              c_asenta: arraycolonias[clave]["c_asenta"],
              d_asenta: arraycolonias[clave]["d_asenta"],
            });
          }
        }
      }
    },

    cargarTipoTelefonos() {
      let me = this;
      var tipostelefonoArray = [];
      axios
        .get("api/Telefonos/SelectTipoTelefono")
        .then(function(response) {
          tipostelefonoArray = response.data;
          tipostelefonoArray.map(function(x) {
            me.tipostelefonos.push({ text: x.nombre, value: x.idTipoTelefono });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    editItemDireccionEmpresa(item) {
      this.idDireccion = item.IDDireccion;
      this.identificador = item.Identificador;
      this.pais = item.Pais;
      this.estado = { c_estado: item.IDEstado, d_estado: item.Estado };
      this.cargarMunicipios();
      this.municipio = { c_mnpio: item.IDMunicipio, d_mnpio: item.Municipio };
      this.cargarLocalidades();
      this.localidad = { c_ciudad: item.IDLocalidad, d_ciudad: item.Localidad };
      this.cargarColonias();
      this.colonia = { c_asenta: item.IDColonia, d_asenta: item.Colonia };
      this.calle = item.Calle;
      this.noInterior = item.NoInterior;
      this.noExterior = item.NoExterior;
      this.entreCalles = item.EntreCalles;
      this.referencias = item.Referencias;

      this.editedIndexDireccionesEmpresa = 1;
      this.dialogDireccionesEmpresa = true;
    },

    editItemTelefonoEmpresa(item) {
      this.idTelefono = item.IDTelefono;
      this.idTipoTelefono = item.IDTipoTelefono;
      this.numero = item.NoTelefono;
      this.lada = item.Lada;
      this.tipoTelefono = {
        text: item.TipoTelefono,
        value: item.IDTipoTelefono,
      };

      this.editedIndexTelefonosEmpresa = 1;
      this.dialogTelefonosEmpresa = true;
    },

    deleteItemDireccionEmpresa(item) {
      const index = this.direccionesEmpresa.indexOf(item);
      confirm("¿Estas seguro de que deseas eliminar esta direccion?") &&
        this.direccionesEmpresa.forEach((x) => {
          if (item.IDDireccion == x.IDDireccion) {
            item.Origen = "eliminar";
          }
        });
    },

    deleteItemTelefonoEmpresa(item) {
      const index = this.telefonosEmpresa.indexOf(item);
      confirm("¿Estas seguro de que deseas eliminar este telefono?") &&
        this.telefonosEmpresa.forEach((x) => {
          if (item.IDTelefono == x.IDTelefono) {
            item.Origen = "eliminar";
          }
        });
    },

    cancelar() {
      this.$router.push({ name: "home" });
    },

    closeDireccionesEmpresas() {
      this.dialogDireccionesEmpresa = false;
      this.limpiarDireccionesEmpresa();
    },

    closeTelefonosEmpresas() {
      this.dialogTelefonosEmpresa = false;
      this.limpiarTelefonosEmpresa();
    },

    limpiarEmpresa() {
      this.id = "";
      this.$refs.formEmpresa[0].reset();
      this.direccionesEmpresa = [];
      this.telefonosEmpresa = [];
      this.validaEmpresa = 0;
      this.validaMensajeEmpresa = [];
    },

    limpiarDireccionesEmpresa() {
      this.idDireccion = "";
      this.pais = "México";

      this.$refs.formDireccionEmpresa[0].reset();
      this.validaDireccionEmpresa = 0;
      this.validaMensajeDireccionEmpresa = [];
      this.editedIndexDireccionesEmpresa = -1;
    },

    limpiarTelefonosEmpresa() {
      this.idTelefono = "";
      this.$refs.formTelefonoEmpresa[0].reset();
      this.validaTelefonoEmpresa = 0;
      this.validaMensajeTelefonoEmpresa = [];
      this.editedIndexTelefonosEmpresa = -1;
    },

    guardarEmpresa() {
      this.$store.dispatch("mostrarOcultarProgressbarcircular", true);

      //Guardar
      let me = this;

      axios
        .post("api/Empresas/Crear", {
          RFC: me.rfc,
          NombreComercial: me.nombreComercial,
          RazonSocial: me.razonSocial,
          Email: me.email,
          Estatus: null,
          direcciones: me.direccionesEmpresa,
          telefonos: me.telefonosEmpresa,
        })
        .then(function(response) {
          me.idempresa = response.data.idEmpresa;
          me.guardarAdministrador();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    guardarDireccionesEmpresa() {
      if (!this.$refs.formDireccionEmpresa[0].validate()) {
        return;
      }
      if (this.editedIndexDireccionesEmpresa > -1) {
        //Editar
        this.direccionesEmpresa.forEach((item) => {
          if (item.IDDireccion == this.idDireccion) {
            item.Identificador = this.identificador;
            item.Pais = this.pais;
            item.IDEstado = this.estado.c_estado;
            item.Estado = this.estado.d_estado;
            item.IDMunicipio = this.municipio.c_mnpio;
            item.Municipio = this.municipio.d_mnpio;
            item.IDLocalidad = this.localidad.c_ciudad;
            item.Localidad = this.localidad.d_ciudad;
            item.IDColonia = this.colonia.c_asenta;
            item.Colonia = this.colonia.d_asenta;
            item.Calle = this.calle;
            item.NoInterior = this.noInterior;
            item.NoExterior = this.noExterior;
            item.EntreCalles = this.entreCalles;
            item.Referencias = this.referencias;

            if (item.Origen != "Nuevo") {
              item.Origen = "Editado";
            }
          }
        });
      } else {
        //Guardar
        var newID = 1;

        if (this.direccionesEmpresa.length != 0) {
          this.idDireccion =
            Math.max.apply(
              null,
              this.direccionesEmpresa.map(function(o) {
                return o.IDDireccion;
              })
            ) + 1;
        } else {
          this.idDireccion = newID;
        }

        this.direccionesEmpresa.push({
          IDDireccion: this.idDireccion,
          Identificador: this.identificador,
          Pais: this.pais,
          IDEstado: this.estado.c_estado,
          Estado: this.estado.d_estado,
          IDMunicipio: this.municipio.c_mnpio,
          Municipio: this.municipio.d_mnpio,
          IDLocalidad: this.localidad.c_ciudad,
          Localidad: this.localidad.d_ciudad,
          IDColonia: this.colonia.c_asenta,
          Colonia: this.colonia.d_asenta,
          Calle: this.calle,
          NoInterior: this.noInterior,
          NoExterior: this.noExterior,
          EntreCalles: this.entreCalles,
          Referencias: this.referencias,
          Origen: "Nuevo",
        });
      }

      this.closeDireccionesEmpresas();
    },

    guardarTelefonosEmpresa() {
      if (!this.$refs.formTelefonoEmpresa[0].validate()) {
        return;
      }
      if (this.editedIndexTelefonosEmpresa > -1) {
        //Editar
        this.telefonosEmpresa.forEach((item) => {
          if (item.IDTelefono == this.idTelefono) {
            item.TipoTelefono = this.tipoTelefono.text;
            item.IDTipoTelefono = this.tipoTelefono.value;
            item.Lada = this.lada;
            item.NoTelefono = this.numero;
          }
          if (item.Origen != "Nuevo") {
            item.Origen = "Editado";
          }
        });
      } else {
        //Guardar
        var newID = 1;

        if (this.telefonosEmpresa.length != 0) {
          this.idTelefono =
            Math.max.apply(
              null,
              this.telefonosEmpresa.map(function(o) {
                return o.IDTelefono;
              })
            ) + 1;
        } else {
          this.idTelefono = newID;
        }

        this.telefonosEmpresa.push({
          IDTelefono: this.idTelefono,
          IDTipoTelefono: this.tipoTelefono.value,
          TipoTelefono: this.tipoTelefono.text,
          Lada: this.lada,
          NoTelefono: this.numero,
          Origen: "Nuevo",
        });
      }

      this.closeTelefonosEmpresas();
      this.limpiarTelefonosEmpresa();
    },

    validarEmpresa() {
      this.validaEmpresa = 0;
      this.validaMensajeEmpresa = [];

      if (this.direccionesEmpresa.length == 0) {
        this.validaMensajeEmpresa.push("No se agregaron direcciones");
      }

      if (this.telefonosEmpresa.length == 0) {
        this.validaMensajeEmpresa.push("No se agregaron telefonos");
      }

      if (this.validaMensajeEmpresa.length) {
        this.validaEmpresa = 1;
      }
      return this.validaEmpresa;
    },

    noInteriorRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 10) {
          return "El numero interior debe ser menor a 11 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    noExteriorRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 10) {
          return "El numero exterior debe ser menor a 11 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    entrecallesRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 60) {
          return "La entre calle debe ser menor a 61 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    referenciaRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 90) {
          return "La referencia debe ser menor a 91 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    irRegistroAdministrador() {
      if (!this.$refs.formEmpresa[0].validate()) {
        return;
      }

      if (this.validarEmpresa()) {
        return;
      }

      this.e1 = 2;
    },

    irLogin() {
      this.$router.push({ name: "login" });
    },

    completarRegistro() {
      if (!this.$refs.formadministrador[0].validate()) {
        return;
      }

      if (this.validarAdministrador()) {
        return;
      }

      this.iniciarRegistro();
    },

    cargarPerfiles() {
      let me = this;
      axios
        .get("api/Perfiles/Select/" + 2)
        .then(function(response) {
          me.perfiles = response.data;
          me.perfil = me.perfiles[0];
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    editItemTelefonoAdministrador(item) {
      this.idTelefono = item.IDTelefono;
      this.idTipoTelefono = item.IDTipoTelefono;
      this.numero = item.NoTelefono;
      this.lada = item.Lada;
      this.tipoTelefono = {
        text: item.TipoTelefono,
        value: item.IDTipoTelefono,
      };

      this.editedIndexTelefonosAdministrador = 1;
      this.dialogTelefonosAdministrador = true;
    },

    deleteItemTelefonoAdministrador(item) {
      const index = this.telefonosAdministrador.indexOf(item);
      confirm("¿Estas seguro de que deseas eliminar este telefono?") &&
        this.telefonosAdministrador.forEach((x) => {
          if (item.IDTelefono == x.IDTelefono) {
            item.Origen = "eliminar";
          }
        });
    },

    closeTelefonosAdministrador() {
      this.dialogTelefonosAdministrador = false;
      this.limpiarTelefonosAdministrador();
    },

    limpiarAdministrador() {
      this.idadministrador = "";
      this.$refs.formadministrador[0].reset();
      this.direccionesAdministrador = [];
      this.telefonosAdministrador = [];
      this.empresas = [];
      this.validaAdministrador = 0;
      this.validaMensajeAdministrador = [];
    },

    limpiarDireccionesAdministrador() {
      this.idDireccion = "";
      this.pais = "México";
      this.$refs.formDireccionAdministrador[0].reset();
      this.validaDireccionAdministrador = 0;
      this.validaMensajeDireccionAdministrador = [];
      this.editedIndexDireccionesAdministrador = -1;
    },

    limpiarTelefonosAdministrador() {
      this.idTelefono = "";
      this.$refs.formTelefonoAdministrador[0].reset();
      this.validaTelefonoAdministrador = 0;
      this.validaMensajeTelefonoAdministrador = [];
      this.editedIndexTelefonosAdministrador = -1;
    },

    guardarAdministrador() {
      //Guardar
      let me = this;

      axios
        .post("api/administradores/Crear", {
          IDEmpresa: me.idempresa,
          direcciones: [],
          telefonos: me.telefonosAdministrador,
          modulos: [],
          persona: {
            IDPersona: 0,
            Nombre: me.nombre,
            ApellidoPaterno: me.apellidopaterno,
            ApellidoMaterno: me.apellidomaterno,
            Sexo: null,
            FechaNacimiento: null,
            Email: me.emailadministrador,
          },
          usuario: {
            IDPerfil: me.perfil.idPerfil,
            Nombre: me.usuario,
            Password: me.password,
            Email: me.emailadministrador,
          },
        })
        .then(function(response) {
          me.$store.dispatch("mostrarOcultarProgressbarcircular", false);
          me.e1 = 3;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    guardarDireccionesAdministrador() {
      if (!this.$refs.formDireccionAdministrador[0].validate()) {
        return;
      }

      if (this.editedIndexDireccionesAdministrador > -1) {
        //Editar
        this.direccionesAdministrador.forEach((item) => {
          if (item.IDDireccion == this.idDireccion) {
            item.Identificador = this.identificador;
            item.Pais = this.pais;
            item.IDEstado = this.estado.c_estado;
            item.Estado = this.estado.d_estado;
            item.IDMunicipio = this.municipio.c_mnpio;
            item.Municipio = this.municipio.d_mnpio;
            item.IDLocalidad = this.localidad.c_ciudad;
            item.Localidad = this.localidad.d_ciudad;
            item.IDColonia = this.colonia.c_asenta;
            item.Colonia = this.colonia.d_asenta;
            item.Calle = this.calle;
            item.NoInterior = this.noInterior;
            item.NoExterior = this.noExterior;
            item.EntreCalles = this.entreCalles;
            item.Referencias = this.referencias;

            if (item.Origen != "Nuevo") {
              item.Origen = "Editado";
            }
          }
        });
      } else {
        //Guardar
        var newID = 1;

        if (this.direccionesAdministrador.length != 0) {
          this.idDireccion =
            Math.max.apply(
              null,
              this.direccionesAdministrador.map(function(o) {
                return o.IDDireccion;
              })
            ) + 1;
        } else {
          this.idDireccion = newID;
        }

        this.direccionesAdministrador.push({
          IDDireccion: this.idDireccion,
          Identificador: this.identificador,
          Pais: this.pais,
          IDEstado: this.estado.c_estado,
          Estado: this.estado.d_estado,
          IDMunicipio: this.municipio.c_mnpio,
          Municipio: this.municipio.d_mnpio,
          IDLocalidad: this.localidad.c_ciudad,
          Localidad: this.localidad.d_ciudad,
          IDColonia: this.colonia.c_asenta,
          Colonia: this.colonia.d_asenta,
          Calle: this.calle,
          NoInterior: this.noInterior,
          NoExterior: this.noExterior,
          EntreCalles: this.entreCalles,
          Referencias: this.referencias,
          Origen: "Nuevo",
        });
      }

      this.closeDirecciones();
    },

    guardarTelefonosAdministrador() {
      if (!this.$refs.formTelefonoAdministrador[0].validate()) {
        return;
      }
      if (this.editedIndexTelefonosAdministrador > -1) {
        //Editar
        this.telefonosAdministrador.forEach((item) => {
          if (item.IDTelefono == this.idTelefono) {
            item.TipoTelefono = this.tipoTelefono.text;
            item.IDTipoTelefono = this.tipoTelefono.value;
            item.Lada = this.lada;
            item.NoTelefono = this.numero;
          }
          if (item.Origen != "Nuevo") {
            item.Origen = "Editado";
          }
        });
      } else {
        //Guardar
        var newID = 1;

        if (this.telefonosAdministrador.length != 0) {
          this.idTelefonoAdministrador =
            Math.max.apply(
              null,
              this.telefonos.map(function(o) {
                return o.IDTelefono;
              })
            ) + 1;
        } else {
          this.idTelefonoAdministrador = newID;
        }

        this.telefonosAdministrador.push({
          IDTelefono: this.idTelefono,
          IDTipoTelefono: this.tipoTelefono.value,
          TipoTelefono: this.tipoTelefono.text,
          Lada: this.lada,
          NoTelefono: this.numero,
          Origen: "Nuevo",
        });
      }

      this.closeTelefonosAdministrador();
      this.limpiarTelefonosAdministrador();
    },

    validarUsuario() {
      let me = this;
      me.validausuario = 0;

      axios
        .get("api/Usuarios/ValidarDisponibilidad/", {
          params: {
            nombreusuario: me.usuario,
          },
        })
        .then(function(response) {
          if (response.data == "No disponible") {
            me.validausuario = 0;
          } else {
            me.validausuario = 1;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    usuarioRules(value) {
      if (value != null && value != "") {
        if (value.length > 90) {
          return "El nombre de usuario no debe tener más de 90 caracteres";
        }
      } else {
        return "El nombre de usuario es requerido";
      }
      return true;
    },

    passwordRules(value) {
      if (this.editedIndex < 0) {
        if (value != null && value != "") {
          if (value.length < 8) {
            return "La contraseña debe tener más de 8 caracteres";
          }
        } else {
          return "La contraseña es requerida";
        }
      } else {
        if (value != null) {
          if (value.length > 0) {
            if (value.length < 8) {
              return "La contraseña debe tener más de 8 caracteres";
            }
          }
        }
      }

      return true;
    },

    passwordconfirmRules(value) {
      if (this.editedIndex < 0) {
        if (value != null && value != "") {
          if (value != this.password) {
            return "La contraseña confirmada no coincide";
          }
        } else {
          return "La confirmar contraseña es requerido";
        }
      } else {
        if (this.password != null && this.password != "") {
          if (value != this.password) {
            return "La contraseña confirmada no coincide";
          }
        }
      }

      return true;
    },

    noInteriorRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 10) {
          return "El numero interior debe ser menor a 11 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    noExteriorRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 10) {
          return "El numero exterior debe ser menor a 11 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    entrecallesRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 60) {
          return "La entre calle debe ser menor a 61 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    referenciaRule(value) {
      if (value != null) {
        if (value.length > 0 && value.length > 90) {
          return "La referencia debe ser menor a 91 caracteres";
        } else {
          return true;
        }
      }
      return true;
    },

    validarAdministrador() {
      this.validaAdministrador = 0;
      this.validaMensajeAdministrador = [];

      if (this.validaMensajeAdministrador.length) {
        this.valida = 1;
      }

      return this.validaAdministrador;
    },

    iniciarRegistro() {
      let me = this;

      axios
        .get("api/Usuarios/ValidarDisponibilidad/", {
          params: {
            nombreusuario: me.usuario,
          },
        })
        .then(function(response) {
          if (response.data == "No disponible") {
            me.validaMensajeAdministrador.push("Usuario existente");
            me.validaAdministrador = 1;
          } else {
            me.guardarEmpresa();
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
  },
};
</script>
