<template>
  <v-flex>
    <v-toolbar color="info" dark>
      <v-toolbar-title>{{ formTitleTelefonos }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card>
      <v-card-text>
        <v-form ref="formTelefono" :lazy-validation="lazy">
          <v-row>
            <v-col cols="12" sm="12" md="12">
              <v-select
                v-model="tipoTelefono"
                :items="tipostelefonos"
                item-text="text"
                item-value="value"
                label="Tipo*"
                :rules="[(v) => !!v || 'Seleccione un tipo de telefono']"
                return-object
                required
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12" md="12">
              <v-text-field
                v-model="numero"
                label="Numero*"
                :rules="numeroRules"
                :counter="10"
                required
                type="number"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" @click="closeTelefonos" dark>
          Cancelar
        </v-btn>
        <v-btn color="green" @click="guardarTelefonos" dark>
          Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      lazy: false,

      tipostelefonos: [],
      idTelefono: "",
      idTipoTelefono: "",
      tipoTelefono: null,
      lada: "000",
      numero: "",
      numeroRules: [
        (v) => !!v || "Numero es requerido",
        (v) =>
          (v && v.length <= 10) || "El numero debe ser menor a 10 caracteres",
      ],

      validaTelefono: 0,
      validaMensajeTelefono: [],
    };
  },
  props: ["telefono","telefonos","dialogTelefono"],
  computed: {
    formTitleTelefonos() {
      return !this.telefono.idTelefono
        ? "Nuevo Telefono"
        : "Actualizar Telefono";
    },
  },
  created() {
    this.cargarTipoTelefonos();
  },
  methods: {
    cargarTipoTelefonos() {
      let me = this;
      var tipostelefonoArray = [];
      axios
        .get("api/Telefonos/SelectTipoTelefono")
        .then(function(response) {
          tipostelefonoArray = response.data;
          tipostelefonoArray.map(function(x) {
            me.tipostelefonos.push({ text: x.nombre, value: x.idTipoTelefono });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    closeTelefonos() {
      this.$emit('dialogTelefono', false);
      this.limpiarTelefonos();
    },
    guardarTelefonos() {
      if (!this.$refs.formTelefono.validate()) {
        return;
      }
      if (this.editedIndexTelefonos > -1) {
        //Editar
        this.telefonos.forEach((item) => {
          if (item.IDTelefono == this.idTelefono) {
            item.TipoTelefono = this.tipoTelefono.text;
            item.IDTipoTelefono = this.tipoTelefono.value;
            item.Lada = this.lada;
            item.NoTelefono = this.numero;
          }
          if (item.Origen != "Nuevo") {
            item.Origen = "Editado";
          }
        });
      } else {
        //Guardar
        var newID = 1;

        if (this.telefonos.length != 0) {
          this.idTelefono =
            Math.max.apply(
              null,
              this.telefonos.map(function(o) {
                return o.IDTelefono;
              })
            ) + 1;
        } else {
          this.idTelefono = newID;
        }

        this.telefonos.push({
          IDTelefono: this.idTelefono,
          IDTipoTelefono: this.tipoTelefono.value,
          TipoTelefono: this.tipoTelefono.text,
          Lada: this.lada,
          NoTelefono: this.numero,
          Origen: "Nuevo",
        });
      }

      this.closeTelefonos();
      this.limpiarTelefonos();
    },
    limpiarTelefonos() {
      this.idTelefono = "";
      this.$refs.formTelefono.reset();
      this.validaTelefono = 0;
      this.validaMensajeTelefono = [];
    },
  },
};
</script>
