<template>
<v-container class="home" fill-height fluid>
  <v-row align="center"
      justify="center">
      <HelloWorld />
  </v-row>
</v-container>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
