<template>
  <v-flex>
    <v-data-table
      :headers="headersTelefonos"
      :items="telefonosFiltered"
      sort-by="identificador"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialogTelefonos" max-width="500px" persistent>
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">
                Nuevo
              </v-btn>
            </template>
            <TelefonoForm :telefono="telefono" :telefonos="telefonos" :dialogTelefono="dialogTelefonos"></TelefonoForm>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-icon
              small
              class="mr-2"
              @click="editItemTelefono(item)"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>
          <span>Editar</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-icon
              small
              class="mr-2"
              @click="deleteItemTelefono(item)"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>
          <span>Borrar</span>
        </v-tooltip>
      </template>
      <template v-slot:no-data>
        No se encontraron datos
      </template>
    </v-data-table>
  </v-flex>
</template>

<script>
import TelefonoForm from "../telefonos-form/Telefonos-form.vue";

export default {
  components: {
    TelefonoForm,
  },
  data() {
    return {
      editedIndexTelefonos: -1,
      dialogTelefonos: false,
      telefono: {},
      headersTelefonos: [
        { text: "Tipo", value: "TipoTelefono" },
        { text: "Lada", value: "Lada" },
        { text: "Numero", value: "NoTelefono" },
        { text: "Opciones", value: "action" },
      ],
    };
  },
  props: ["telefonos"],
  computed: {
    telefonosFiltered() {
      return this.telefonos.filter((c) => c.Origen != "eliminar");
    },
  },
  methods: {
    editItemTelefono(item) {
      this.idTelefono = item.IDTelefono;
      this.idTipoTelefono = item.IDTipoTelefono;
      this.numero = item.NoTelefono;
      this.lada = item.Lada;
      this.tipoTelefono = {
        text: item.TipoTelefono,
        value: item.IDTipoTelefono,
      };

      this.dialogTelefonos = true;
    },

    deleteItemTelefono(item) {
      const index = this.telefonos.indexOf(item);
      confirm("¿Estas seguro de que deseas eliminar este telefono?") &&
        this.telefonos.forEach((x) => {
          if (item.IDTelefono == x.IDTelefono) {
            item.Origen = "eliminar";
          }
        });
    },
  },
};
</script>
