<template>
  <v-app id="inspire" app>
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      fixed
      app
      v-if="logueado && isCambiarEmpresa"
    >
      <v-list nav dense>
        <v-list-item-group v-model="group" :color="navbarColor">
          <template>
            <v-list-item :to="{ name: 'home' }">
              <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Inicio</v-list-item-title>
            </v-list-item>
          </template>

          <template v-if="esSuperAdministrador">
            <v-list-item :to="{ name: 'categorias' }">
              <v-list-item-icon>
                <v-icon>mdi-table</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Categorias</v-list-item-title>
            </v-list-item>
          </template>

          <template v-if="esSuperAdministrador || esAdministrador">
            <v-list-item :to="{ name: 'perfiles' }">
              <v-list-item-icon>
                <v-icon>mdi-account-star</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Perfiles</v-list-item-title>
            </v-list-item>
          </template>

          <template v-if="esSuperAdministrador || esAdministrador">
            <v-list-item :to="{ name: 'usuarios' }">
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Usuarios</v-list-item-title>
            </v-list-item>
          </template>

          <template v-if="esSuperAdministrador">
            <v-list-item :to="{ name: 'empresas' }">
              <v-list-item-icon>
                <v-icon>mdi-domain</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Empresas</v-list-item-title>
            </v-list-item>
          </template>

          <template v-if="esSuperAdministrador">
            <v-list-item :to="{ name: 'administradores' }">
              <v-list-item-icon>
                <v-icon>mdi-tie</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Administradores</v-list-item-title>
            </v-list-item>
          </template>

          <template
            v-if="esSuperAdministradorEmpresaSeleccionada || esAdministrador"
          >
            <v-list-item :to="{ name: 'sucursales' }">
              <v-list-item-icon>
                <v-icon>mdi-table</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Sucursales</v-list-item-title>
            </v-list-item>
          </template>

          <template
            v-if="esSuperAdministradorEmpresaSeleccionada || esAdministrador"
          >
            <v-list-item :to="{ name: 'encargados' }">
              <v-list-item-icon>
                <v-icon>mdi-table</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Encargados</v-list-item-title>
            </v-list-item>
          </template>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      :color="navbarColor"
      dark
      v-if="logueado && isCambiarEmpresa"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title style="width: 350px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">Picturix</span>
      </v-toolbar-title>

      <v-spacer />

      <blockquote v-text="nombreEmpresa" v-if="logueado"></blockquote>
      <v-divider class="ml-2" inset vertical></v-divider>
      <v-avatar class="ml-2" size="40" v-if="logueado">
        <img
          src="https://cdn.vuetifyjs.com/images/john.jpg"
          alt="usuarioLogueado"
        />
      </v-avatar>
      <blockquote
        class="ml-2"
        v-text="usuarioLogueado"
        v-if="logueado"
      ></blockquote>
      <v-menu left bottom v-if="logueado">
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="seleccionarEmpresa">
            <v-list-item-icon>
              <v-icon>mdi-arrow-right-bold</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Cambiar Empresa</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-settings</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Ajustes</v-list-item-title>
          </v-list-item>
          <v-list-item @click="salir">
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Cerrar</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-content v-bind:class="{ 'bg-login': !logueado || !isCambiarEmpresa }">
      <v-container class="fill-height" fluid>
        <v-progress-linear
          v-if="loading"
          indeterminate
          color="purple"
        ></v-progress-linear>

        <v-dialog v-model="loadingCircular" max-width="280px" persistent>
          <v-card
            style="display:grid;overflow-x: hidden;"
            height="300px"
            align-center
            text-center
          >
            <v-row align="center" justify="center">
              <v-progress-circular
                :size="200"
                :width="7"
                color="purple"
                indeterminate
              ></v-progress-circular>
            </v-row>
          </v-card>
        </v-dialog>
        <v-slide-y-transition mode="out-in">
          <router-view />
        </v-slide-y-transition>
      </v-container>
    </v-content>

    <v-footer
      :color="navbarColor"
      dark
      height="auto"
      v-if="logueado && isCambiarEmpresa"
    >
      <v-layout justify-center>
        <v-flex text-xs-center>
          <v-card :color="navbarColor" flat item class="white--text">
            <v-card-text class="white--text pt-0 text-center">
              Picturix &copy;2020
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<style scoped>
.bg-login {
  background: url(assets/img/backgrounds/dark-material-bg.jpg) no-repeat;
  background-size: cover;
}
</style>

<script>
import axios from "axios";
export default {
  name: "App",
  data() {
    return {
      changeEmpresa: false,
      clipped: false,
      drawer: true,
      fixed: false,
      group: true,
      items: [
        {
          icon: "bubble_chart",
          title: "Inspire",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js",

      empresas: [],
      empresa: {},
    };
  },
  computed: {
    logueado() {
      return this.$store.state.usuario;
    },
    isCambiarEmpresa() {
      return (this.$route.name == "cambiarempresa") ? false: true;      
    },
    esSuperAdministrador() {
      return this.$store.state.usuario && this.$store.state.usuario.rol == "3";
    },
    esAdministrador() {
      return this.$store.state.usuario && this.$store.state.usuario.rol == "2";
    },
    esSuperAdministradorEmpresaSeleccionada() {
      return (
        this.$store.state.usuario &&
        this.$store.state.usuario.rol == "3" &&
        this.$store.state.idempresa != 0
      );
    },
    esEncargado() {
      return this.$store.state.usuario && this.$store.state.usuario.rol == "1";
    },
    loading() {
      return this.$store.state.loading;
    },
    loadingCircular() {
      return this.$store.state.loadingCircular;
    },
    navbarColor() {
      if (this.$store.state.empresa) {
        if (this.$store.state.empresa.idEmpresa > 0) {
          return "tertiary";
        }
      }
      return "primary";
    },
    selectEmpresaDisabled() {
      if (this.$store.state.usuario.rol < 3) {
        return true;
      }
      return false;
    },
    nombreEmpresa() {
      if (this.$store.state.empresa) {
        return this.$store.state.empresa.nombreComercial;
      }
      return "";
    },
    usuarioLogueado() {
      if (this.$store.state.usuario) {
        return this.$store.state.usuario.nombre;
      }
      return "";
    },
    canChangeEmpresa() {
      if (this.$store.state.usuario.rol == 3) {
        return true;
      }
      return false;
    },
  },
  created() {
    this.cargarEmpresas();

    if (this.$store.state.empresa) {
      this.empresa = this.$store.state.empresa;
    }
  },
  methods: {
    salir() {
      this.$store.dispatch("salir");
    },
    cargarEmpresas() {
      let me = this;
      if (this.logueado) {
        axios
          .get("api/Empresas/Select/" + this.$store.state.idempresa)
          .then(function(response) {
            me.empresas = response.data;
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    cambiarEmpresa() {
      this.$store.dispatch("cambiarEmpresa", this.empresa);
    },
    seleccionarEmpresa() {
      this.$router.push({ name: "cambiarempresa" });
    },
  },
};
</script>
